$scolor-electricity-minus-21: #36a6ff;

$scolor-electricity: #008eff;

$scolor-midnight: #000028;

$scolor-graphite-minus-96: #f8f8f9;

$scolor-graphite-minus-89: #ececed;

$scolor-graphite-minus-88: #eaebec;

$scolor-graphite-minus-72: #cfd0d2;

$scolor-graphite-minus-55: #b1b3b7;

$scolor-graphite-minus-48: #a5a8ac;

$scolor-graphite-minus-24: #7c7f86;

$scolor-graphite-minus-21: #767a81;

$scolor-graphite: #525760;

$scolor-graphite-plus-24: #3e4249;

$scolor-graphite-plus-48: #2b2d32;

$scolor-graphite-plus-72: #17181b;

$scolor-graphite-plus-89: #090a0b;

$scolor-green: #5ad269;

$scolor-orange: #f8c43f;

$scolor-red: #ee3d3d;

$scolor-white: #fff;

$scolor-black: #000;

// These colors should be removed from here, they don't belong
// Shades of $scolor-electricity - missing precise percentage
$scolor-elements-primary-hover: #29a0ff;
$scolor-elements-primary-active: #0077d6;
$scolor-elements-primary-disabled: #e0f1ff;
$scolor-elements-primary-disabled-dark: #00335c;

// Shades of $scolor-graphite - missing precise percentage
$scolor-elements-secondary-hover: #6e7279;
$scolor-elements-secondary-active: #454951;
$scolor-elements-secondary-disabled: #cfd0d2;
$scolor-elements-secondary-dark: #cfd0d2;
$scolor-elements-secondary-hover-dark: #d7d8d9;
$scolor-elements-secondary-active-dark: #aeafb0;
$scolor-elements-secondary-disabled-dark: #3a3a3b;

// Shades of $scolor-graphite - missing precise percentage
$scolor-elements-tertiary-hover: #f9f9fa;
$scolor-elements-tertiary-active: #e3e4e6;
$scolor-elements-tertiary-hover-dark: #2c2e2f;
$scolor-elements-tertiary-active-dark: #232528;

// Shades of $scolor-red - missing precise percentage
$scolor-elements-destructive-hover: #f15c5c;
$scolor-elements-destructive-active: #c83333;
$scolor-elements-destructive-disabled: #fde8e8;
$scolor-elements-destructive-disabled-dark: #561616;
