/** ======== Color palette from SDS ======== */

// Graphite
$scolor-graphite-05: #f1f1f3;
$scolor-graphite-10: #e3e5e7;
$scolor-graphite-20: #cdcfd4;
$scolor-graphite-30: #b0b3ba;
$scolor-graphite-40: #8f959e;
$scolor-graphite-50: #717681;
$scolor-graphite-60: #52565e;
$scolor-graphite-70: #3a3d43;
$scolor-graphite-80: #27292c;
$scolor-graphite-90: #141618;

// Midnight
$scolor-midnight-05: #f1f1f3; // Same as $scolor-graphite-05
$scolor-midnight-10: #e3e5e7; // Same as $scolor-graphite-10
$scolor-midnight-20: #ceced5;
$scolor-midnight-30: #b2b2be;
$scolor-midnight-40: #9393a4;
$scolor-midnight-50: #75758a;
$scolor-midnight-60: #55556f;
$scolor-midnight-70: #3b3b59;
$scolor-midnight-80: #252547;
$scolor-midnight-90: #111136;

// Electricity
$scolor-electricity-05: #e9f2f9;
$scolor-electricity-10: #d6e7f7;
$scolor-electricity-20: #aad4f8;
$scolor-electricity-30: #6eb9fd;
$scolor-electricity-40: #2996fd;
$scolor-electricity-50: #0277d6;
$scolor-electricity-60: #27588e;
$scolor-electricity-70: #253f5d;
$scolor-electricity-80: #1c2a3a;
$scolor-electricity-90: #10151d;

// Green
$scolor-green-05: #eaf4ea;
$scolor-green-10: #d6ebd5;
$scolor-green-20: #aadba6;
$scolor-green-30: #65c862;
$scolor-green-40: #2eaa35;
$scolor-green-50: #378535;
$scolor-green-60: #32602f;
$scolor-green-70: #294425;
$scolor-green-80: #1d2d1b;
$scolor-green-90: #10170e;

// Yellow
$scolor-yellow-05: #f8f2d7;
$scolor-yellow-10: #f6e5a6;
$scolor-yellow-20: #f7ca3b;
$scolor-yellow-30: #e7a800;
$scolor-yellow-40: #c98700;
$scolor-yellow-50: #9c6c1a;
$scolor-yellow-60: #70511f;
$scolor-yellow-70: #4d391c;
$scolor-yellow-80: #322715;
$scolor-yellow-90: #1a150c;

// Red
$scolor-red-05: #fbeeed;
$scolor-red-10: #fadfdc;
$scolor-red-20: #fcc1b9;
$scolor-red-30: #ff9789;
$scolor-red-40: #ff5d50;
$scolor-red-50: #dd342e;
$scolor-red-60: #99342c;
$scolor-red-70: #662a24;
$scolor-red-80: #411f1a;
$scolor-red-90: #21110e;

// Main brand colors
$scolor-electricity: #008eff;
$scolor-midnight: #000028;

// Additional brand colors
$scolor-white: #ffffff;
$scolor-orange: #ff7a00;
$scolor-lime: #9fea00;
$scolor-plum: #c704ff;
$scolor-rose: #ff49a0;
$scolor-black: #000000;

/** ======== Former UIToolkit color palette. ======== */
/** This will be deprecated, use the SDS color palette. */
$scolor-electricity-minus-21: #36a6ff;

$scolor-electricity: #008eff;

$scolor-midnight: #000028;

$scolor-graphite-minus-96: #f8f8f9;

$scolor-graphite-minus-89: #ececed;

$scolor-graphite-minus-88: #eaebec;

$scolor-graphite-minus-72: #cfd0d2;

$scolor-graphite-minus-55: #b1b3b7;

$scolor-graphite-minus-48: #a5a8ac;

$scolor-graphite-minus-24: #7c7f86;

$scolor-graphite-minus-21: #767a81;

$scolor-graphite: #525760;

$scolor-graphite-plus-24: #3e4249;

$scolor-graphite-plus-48: #2b2d32;

$scolor-graphite-plus-50: #717681;

$scolor-graphite-plus-72: #17181b;

$scolor-graphite-plus-89: #090a0b;

$scolor-green: #5ad269;

$scolor-orange: #f8c43f;

$scolor-red: #ee3d3d;

$scolor-red-darker: #f15c5c;

$scolor-white: #fff;

$scolor-black: #000;

// These colors should be removed from here, they don't belong
// Shades of $scolor-electricity - missing precise percentage
$scolor-elements-primary-hover: #29a0ff;
$scolor-elements-primary-active: #0077d6;
$scolor-elements-primary-disabled: #e0f1ff;
$scolor-elements-primary-disabled-dark: #00335c;
$scolor-box-shadow: #0f1b24;

// Shades of $scolor-graphite - missing precise percentage
$scolor-elements-secondary-hover: #6e7279;
$scolor-elements-secondary-active: #454951;
$scolor-elements-secondary-disabled: #cfd0d2;
$scolor-elements-secondary-dark: #cfd0d2;
$scolor-elements-secondary-hover-dark: #d7d8d9;
$scolor-elements-secondary-active-dark: #aeafb0;
$scolor-elements-secondary-disabled-dark: #3a3a3b;

// Shades of $scolor-graphite - missing precise percentage
$scolor-elements-tertiary-hover: #f9f9fa;
$scolor-elements-tertiary-active: #e3e4e6;
$scolor-elements-tertiary-hover-dark: #2c2e2f;
$scolor-elements-tertiary-active-dark: #232528;

// Shades of $scolor-red - missing precise percentage
$scolor-elements-destructive-hover: #f15c5c;
$scolor-elements-destructive-active: #c83333;
$scolor-elements-destructive-disabled: #fde8e8;
$scolor-elements-destructive-disabled-dark: #561616;
