node_modules
.vscode
.DS_Store
.history
*generated*
coverage
dist
.creevey/report
/.idea/
*.log
.eslintcache
symphony-uitoolkit-*.tgz
icons.stories.js
package-lock.json

yarn-error.log
.yarn/cache
.yarn/install-state.gz