html {
  font-family: 'system-ui', 'Lato', 'Segoe UI', 'Helvetica Neue', 'Verdana',
    'Arial', sans-serif;
  font-size: 16px;
}

/* Layout utils */
.flex-container {
  overflow-x: hidden;
}

.flex-row {
  display: flex;
  margin-right: -16px;
  .flex-col {
    flex-direction: column;
    padding: 16px;
  }
}

/* inline block container for presentation */
.d-inline-block {
  display: inline-block;
}

.preview {
  display: inline-block;
  margin: 20px;
  text-align: center;
  width: 120px;
  word-break: break-word;
}

/* Width percentages */
.w-5 {
  width: 5%;
}

.text-ellipsis-tooltip {
  display: -webkit-box;
  width: -webkit-fill-available;
}
.button-storybook {
  button {
    margin-right: 8px;
  }
}
