$ICONS_FONTS_PATH: 'dist/fonts' !default;

@import './animation';
@import '../dist/fonts/tk-icons-definitions';

[class^='tk-icon-'],
[class*=' tk-icon-'] {
  display: inline-block;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
