/**************************** Icon Font *****************************/
@font-face {
    font-family: "tk-icons";
  src: url("../src/assets/fonts/tk-icons.eot?4cebe2ff0a7d886f0eb917b08c763f05?#iefix") format("embedded-opentype"),
url("../src/assets/fonts/tk-icons.woff2?4cebe2ff0a7d886f0eb917b08c763f05") format("woff2"),
url("../src/assets/fonts/tk-icons.woff?4cebe2ff0a7d886f0eb917b08c763f05") format("woff"),
url("../src/assets/fonts/tk-icons.ttf?4cebe2ff0a7d886f0eb917b08c763f05") format("truetype"),
url("../src/assets/fonts/tk-icons.svg?4cebe2ff0a7d886f0eb917b08c763f05#tk-icons") format("svg");
  }

  i[class^="tk-icon-"]:before, i[class*=" tk-icon-"]:before {
    font-family: tk-icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tk-icon-accent:before {
    content: "\f101";
}
.tk-icon-activity:before {
    content: "\f102";
}
.tk-icon-adjust:before {
    content: "\f103";
}
.tk-icon-alert-round:before {
    content: "\f104";
}
.tk-icon-alert-triangle:before {
    content: "\f105";
}
.tk-icon-animals-and-nature:before {
    content: "\f106";
}
.tk-icon-app:before {
    content: "\f107";
}
.tk-icon-archive:before {
    content: "\f108";
}
.tk-icon-attachment:before {
    content: "\f109";
}
.tk-icon-block:before {
    content: "\f10a";
}
.tk-icon-bold:before {
    content: "\f10b";
}
.tk-icon-bookmark:before {
    content: "\f10c";
}
.tk-icon-bot:before {
    content: "\f10d";
}
.tk-icon-bottom:before {
    content: "\f10e";
}
.tk-icon-busy:before {
    content: "\f10f";
}
.tk-icon-calendar:before {
    content: "\f110";
}
.tk-icon-call:before {
    content: "\f111";
}
.tk-icon-cashtag:before {
    content: "\f112";
}
.tk-icon-chats:before {
    content: "\f113";
}
.tk-icon-check-round:before {
    content: "\f114";
}
.tk-icon-check:before {
    content: "\f115";
}
.tk-icon-checkbox-indeterminate:before {
    content: "\f116";
}
.tk-icon-checkbox-off:before {
    content: "\f117";
}
.tk-icon-checkbox-on:before {
    content: "\f118";
}
.tk-icon-chevron-left:before {
    content: "\f119";
}
.tk-icon-chevron-right:before {
    content: "\f11a";
}
.tk-icon-chime:before {
    content: "\f11b";
}
.tk-icon-code:before {
    content: "\f11c";
}
.tk-icon-collection:before {
    content: "\f11d";
}
.tk-icon-community:before {
    content: "\f11e";
}
.tk-icon-copy:before {
    content: "\f11f";
}
.tk-icon-cross-round:before {
    content: "\f120";
}
.tk-icon-cross:before {
    content: "\f121";
}
.tk-icon-customize:before {
    content: "\f122";
}
.tk-icon-delete:before {
    content: "\f123";
}
.tk-icon-delivered-1:before {
    content: "\f124";
}
.tk-icon-delivered:before {
    content: "\f125";
}
.tk-icon-dial:before {
    content: "\f126";
}
.tk-icon-directory:before {
    content: "\f127";
}
.tk-icon-document-sharing:before {
    content: "\f128";
}
.tk-icon-down-arrow:before {
    content: "\f129";
}
.tk-icon-download:before {
    content: "\f12a";
}
.tk-icon-drop-down:before {
    content: "\f12b";
}
.tk-icon-drop-up:before {
    content: "\f12c";
}
.tk-icon-edit:before {
    content: "\f12d";
}
.tk-icon-email:before {
    content: "\f12e";
}
.tk-icon-emoticon:before {
    content: "\f12f";
}
.tk-icon-enter:before {
    content: "\f130";
}
.tk-icon-filter:before {
    content: "\f131";
}
.tk-icon-flags:before {
    content: "\f132";
}
.tk-icon-folder:before {
    content: "\f133";
}
.tk-icon-following:before {
    content: "\f134";
}
.tk-icon-food-an-drink:before {
    content: "\f135";
}
.tk-icon-format:before {
    content: "\f136";
}
.tk-icon-forward:before {
    content: "\f137";
}
.tk-icon-fullscreen-off:before {
    content: "\f138";
}
.tk-icon-fullscreen-on:before {
    content: "\f139";
}
.tk-icon-hang-up:before {
    content: "\f13a";
}
.tk-icon-hashtag:before {
    content: "\f13b";
}
.tk-icon-help:before {
    content: "\f13c";
}
.tk-icon-hide:before {
    content: "\f13d";
}
.tk-icon-idle:before {
    content: "\f13e";
}
.tk-icon-important:before {
    content: "\f13f";
}
.tk-icon-inbox:before {
    content: "\f140";
}
.tk-icon-info-round:before {
    content: "\f141";
}
.tk-icon-italic:before {
    content: "\f142";
}
.tk-icon-left-arrow:before {
    content: "\f143";
}
.tk-icon-left:before {
    content: "\f144";
}
.tk-icon-link:before {
    content: "\f145";
}
.tk-icon-list:before {
    content: "\f146";
}
.tk-icon-loading:before {
    content: "\f147";
}
.tk-icon-location:before {
    content: "\f148";
}
.tk-icon-lock:before {
    content: "\f149";
}
.tk-icon-market:before {
    content: "\f14a";
}
.tk-icon-mentions:before {
    content: "\f14b";
}
.tk-icon-message:before {
    content: "\f14c";
}
.tk-icon-mic-off:before {
    content: "\f14d";
}
.tk-icon-mic-on:before {
    content: "\f14e";
}
.tk-icon-minus-round:before {
    content: "\f14f";
}
.tk-icon-minus:before {
    content: "\f150";
}
.tk-icon-mobile:before {
    content: "\f151";
}
.tk-icon-more-_:before {
    content: "\f152";
}
.tk-icon-more-–:before {
    content: "\f153";
}
.tk-icon-network:before {
    content: "\f154";
}
.tk-icon-notifications-off:before {
    content: "\f155";
}
.tk-icon-notifications-on:before {
    content: "\f156";
}
.tk-icon-objects:before {
    content: "\f157";
}
.tk-icon-offline:before {
    content: "\f158";
}
.tk-icon-online:before {
    content: "\f159";
}
.tk-icon-people:before {
    content: "\f15a";
}
.tk-icon-picture:before {
    content: "\f15b";
}
.tk-icon-pin:before {
    content: "\f15c";
}
.tk-icon-plus-round:before {
    content: "\f15d";
}
.tk-icon-plus:before {
    content: "\f15e";
}
.tk-icon-pop-in:before {
    content: "\f15f";
}
.tk-icon-pop-out:before {
    content: "\f160";
}
.tk-icon-print:before {
    content: "\f161";
}
.tk-icon-radio-button-off:before {
    content: "\f162";
}
.tk-icon-radio-button-on:before {
    content: "\f163";
}
.tk-icon-read:before {
    content: "\f164";
}
.tk-icon-recent:before {
    content: "\f165";
}
.tk-icon-redirect:before {
    content: "\f166";
}
.tk-icon-reload:before {
    content: "\f167";
}
.tk-icon-reply-all:before {
    content: "\f168";
}
.tk-icon-reply:before {
    content: "\f169";
}
.tk-icon-reveal:before {
    content: "\f16a";
}
.tk-icon-right-arrow:before {
    content: "\f16b";
}
.tk-icon-right:before {
    content: "\f16c";
}
.tk-icon-role:before {
    content: "\f16d";
}
.tk-icon-screen-share:before {
    content: "\f16e";
}
.tk-icon-screenshot:before {
    content: "\f16f";
}
.tk-icon-search-list:before {
    content: "\f170";
}
.tk-icon-search:before {
    content: "\f171";
}
.tk-icon-send:before {
    content: "\f172";
}
.tk-icon-settings:before {
    content: "\f173";
}
.tk-icon-share:before {
    content: "\f174";
}
.tk-icon-signals-1:before {
    content: "\f175";
}
.tk-icon-signals:before {
    content: "\f176";
}
.tk-icon-smileys-and-people:before {
    content: "\f177";
}
.tk-icon-spam:before {
    content: "\f178";
}
.tk-icon-speaker-off:before {
    content: "\f179";
}
.tk-icon-speaker-on:before {
    content: "\f17a";
}
.tk-icon-star:before {
    content: "\f17b";
}
.tk-icon-symbols:before {
    content: "\f17c";
}
.tk-icon-symphony:before {
    content: "\f17d";
}
.tk-icon-table:before {
    content: "\f17e";
}
.tk-icon-top:before {
    content: "\f17f";
}
.tk-icon-travel-and-places:before {
    content: "\f180";
}
.tk-icon-unread:before {
    content: "\f181";
}
.tk-icon-up-arrow:before {
    content: "\f182";
}
.tk-icon-very-important:before {
    content: "\f183";
}
.tk-icon-video:before {
    content: "\f184";
}
.tk-icon-voice:before {
    content: "\f185";
}
.tk-icon-zoom-out:before {
    content: "\f186";
}
