# Config dedicated for UI-Toolkit Components
# All the resources must be prefixed with `package-components-` to avoid conflicts 

version: 2.1

orbs:
  node: circleci/node@5.1.0
  aws-cli: circleci/aws-cli@2.0

jobs:
  package-components-build-and-publish:
    executor:
      name: node/default
      tag: 'current'
    working_directory: ~/project/packages/components
    steps:
      - attach_workspace:
          at: ~/project
      - run: yarn
      - run: yarn workspace @symphony-ui/uitoolkit-styles build # Build UI-TK Styles because some files from 'dist' folder are used in UI-TK Components
      - run: yarn lint
      - run: yarn check-circular
      # Run jest tests
      - run:
          name: Run tests
          command: yarn test-once
          environment:
            NODE_OPTIONS: --max_old_space_size=4096
      # Run coverage
      - run:
          name: Run coverage
          command: yarn run cover
          environment:
            NODE_OPTIONS: --max_old_space_size=4096
          when: always
      # Run coverage report for Code Climate
      - run:
          name: Setup Code Climate test-reporter
          command: |
              # download test reporter as a static binary
              curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
              chmod +x ./cc-test-reporter
              ./cc-test-reporter before-build
          when: always
      - run:
          name: Send coverage report to Code Climate
          command:
              ./cc-test-reporter after-build -t lcov
          environment:
            CC_TEST_REPORTER_ID: 518d1f4c65cb1ed1f1109f6871c416a797b7d91d0bdbcd496b6a3d549eff73a2
          when: always
      # Upload results
      - store_artifacts: # upload test coverage as artifact
          path: ./coverage/lcov.info
          prefix: tests

      - run: yarn build
      - run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
      - run: bash ./publish.sh
      - run: rm -f ~/.npmrc
      - run: rm -rf ./dist
      - run: yarn build-storybook
      - persist_to_workspace:
          root: dist
          paths:
            - storybook

  package-components-deploy-storybook:
    executor:
      name: node/default
      tag: 'lts'
    steps:
      - attach_workspace:
          at: /tmp/dist
      - aws-cli/setup:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          aws-region: AWS_REGION
          profile-name: uitkComponentsStorybook
      - run: |
          aws s3 sync \
          /tmp/dist/storybook s3://uitoolkit-storybook/components/master \
          --delete \
          --profile uitkComponentsStorybook

workflows:
  build:
    jobs:
      - package-components-build-and-publish:
          requires:
            - package-styles-build-and-publish
          filters:
            tags:
              only: /^v.*/
      - package-components-deploy-storybook:
          requires:
            - package-components-build-and-publish
          filters:
            branches:
              only: master
