.tk-dark {
  --tk-main-text-color: #{$scolor-graphite-minus-89};

  --tk-button-color-primary-disabled: #{$scolor-elements-primary-disabled-dark};
  --tk-button-color-primary-text-disabled: #{$scolor-graphite-minus-24};

  --tk-button-color-secondary-default: #{$scolor-elements-secondary-dark};
  --tk-button-color-secondary-hover: #{$scolor-elements-secondary-hover-dark};
  --tk-button-color-secondary-active: #{$scolor-elements-secondary-active-dark};
  --tk-button-color-secondary-disabled: #{$scolor-elements-secondary-disabled-dark};
  --tk-button-color-secondary-text: #{$scolor-elements-secondary-active};
  --tk-button-color-secondary-text-disabled: #{$scolor-elements-secondary-disabled-dark};

  --tk-button-color-tertiary-hover: #{$scolor-elements-tertiary-hover-dark};
  --tk-button-color-tertiary-active: #{$scolor-elements-tertiary-active-dark};
  --tk-button-color-tertiary-text: #{$scolor-graphite-minus-72};
  --tk-button-color-tertiary-text-disabled: #{$scolor-graphite-minus-72};

  --tk-button-color-destructive-disabled: #{$scolor-elements-destructive-disabled-dark};
  --tk-button-color-destructive-text-disabled: #{$scolor-graphite-minus-48};
}
