.tk-dark,
.dark {
  // Secondary btn
  --tk-btn-color-tertiary-default: #{getColor($graphite, '30')};
  --tk-btn-color-secondary-hover: transparent;
  --tk-btn-color-secondary-active: transparent;
  --tk-btn-color-secondary-hover-text: #{getColor($graphite, '20')};
  --tk-btn-color-secondary-active-text: #{getColor($graphite, '30')};
  --tk-btn-color-secondary-disabled: #{getColor($graphite, '60')};
  --tk-btn-color-secondary-text: #{getColor($graphite, '30')};

  // Secondary destructive
  --tk-btn-color-destructive-second-default: #{getColor($red, '40')};
  --tk-btn-color-destructive-second-hover: #{getColor($red, '70')};
  --tk-btn-color-destructive-second-active: #{getColor($red, '80')};
  --tk-btn-color-destructive-second-hover-text: #{getColor($red, '30')};
  --tk-btn-color-destructive-second-active-text: #{getColor($red, '40')};
  --tk-btn-color-destructive-second-disabled: #{getColor($red, '60')};
  --tk-btn-color-destructive-second-text-disabled: #{getColor($red, '60')};

  // tertiary btn
  --tk-btn-color-tertiary-default: transparent;
  --tk-btn-color-tertiary-hover: #{getColor($graphite, '60')};
  --tk-btn-color-tertiary-active: #{getColor($graphite, '70')};
  --tk-btn-color-tertiary-hover-text: #{getColor($graphite, '30')};
  --tk-btn-color-tertiary-active-text: #{getColor($graphite, '40')};
  --tk-btn-color-tertiary-disabled-text: #{getColor($graphite, '60')};
  --tk-btn-color-tertiary-disabled: transparent;
  --tk-btn-color-tertiary-text: #{getColor($graphite, '30')};

  // tertiary destructive
  --tk-btn-color-destructive-tertiary-default: transparent;
  --tk-btn-color-destructive-tertiary-hover: #{getColor($red, '70')};
  --tk-btn-color-destructive-tertiary-active: #{getColor($red, '80')};
  --tk-btn-color-destructive-tertiary-hover-text: #{getColor($red, '20')};
  --tk-btn-color-destructive-tertiary-active-text: #{getColor($red, '40')};
  --tk-btn-color-destructive-tertiary-disabled: transparent;
  --tk-btn-color-destructive-tertiary-text-disabled: #{getColor($red, '70')};

  // tertiary active
  --tk-btn-color-active-tertiary-default: transparent;
  --tk-btn-color-active-tertiary-text: #{getColor($electricity, '30')};
  --tk-btn-color-active-tertiary-hover: #{getColor($electricity, '60')};
  --tk-btn-color-active-tertiary-active: #{getColor($electricity, '70')};
  --tk-btn-color-active-tertiary-hover-text: #{getColor($electricity, '30')};
  --tk-btn-color-active-tertiary-active-text: #{getColor($electricity, '40')};
  --tk-btn-color-active-tertiary-disabled: transparent;
  --tk-btn-color-active-tertiary-text-disabled: #{getColor($electricity, '60')};

  --tk-color-error: #{$scolor-red-darker};

  --tk-main-text-color: #{$scolor-graphite-minus-89};

  --tk-button-color-primary-disabled: #{getColor($electricity, '70')};
  --tk-button-color-primary-text-disabled: #{getColor($electricity, '60')};
  --tk-button-color-destructive-text-disabled: #{getColor($red, '60')};

  --tk-button-color-tertiary-hover: #{$scolor-elements-tertiary-hover-dark};
  --tk-button-color-tertiary-active: #{$scolor-elements-tertiary-active-dark};
  --tk-button-color-tertiary-text: #{$scolor-graphite-minus-72};
  --tk-button-color-tertiary-text-disabled: #{$scolor-graphite-minus-24};

  --tk-button-color-destructive-disabled: #{$scolor-elements-destructive-disabled-dark};

  --tk-input-default-inactive-color: #{$scolor-graphite-minus-48};
  --tk-input-default-active-color: #{$scolor-graphite-minus-96};
  --tk-input-default-hover-color: #{$scolor-graphite-minus-72};
  --tk-input-default-focus-border-color: #{$scolor-electricity};
  --tk-input-default-background-color: #{$scolor-graphite-plus-24};

  --tk-input-error-background-color: #{$scolor-graphite-plus-24};

  --tk-input-disabled-color: #{$scolor-graphite-minus-48};
  --tk-input-disabled-background-color: #{$scolor-graphite-plus-48};

  --tk-input-switch-default-line-color: #{$scolor-graphite};
  --tk-input-switch-default-circle-color: #{$scolor-graphite-plus-48};
  --tk-input-switch-default-circle-border-color: #{$scolor-electricity};

  --tk-input-switch-disabled-line-color: #{$scolor-graphite-minus-24};
  --tk-input-switch-disabled-circle-color: #{$scolor-graphite-minus-48};

  --tk-datepicker-default-color: #{$scolor-graphite-minus-96};
  --tk-datepicker-disabled-color: #{$scolor-graphite-minus-24};

  --tk-table-hover-color: #{$scolor-graphite-plus-24};

  // dialog
  --tk-dialog-background-color: #{$scolor-graphite-plus-48};
  --tk-dialog-box-shadow-color: #{$scolor-graphite-minus-24};
  --tk-dialog-cross-color: #{$scolor-graphite-minus-48};
  --tk-dialog-cross-hover-color: #{$scolor-graphite-plus-72};

  --tk-select-background-color: #{$scolor-graphite-plus-24};
  --tk-select-option-color: #{$scolor-graphite-minus-96};
  --tk-select-scrollbar-color: #{$scolor-graphite};
  --tk-list-hover-color: #{$scolor-graphite};
  --tk-list-selected-color: #{$scolor-graphite-minus-88};
  --tk-list-divider-color: #{$scolor-graphite-minus-24};
  --tk-list-disabled-color: #{$scolor-graphite-minus-24};
  --tk-list-tag-color: #{$scolor-graphite-minus-21};
  --tk-tag-border-and-group-heading-color: #{$scolor-graphite-minus-72};
  --tk-tag-border-disabled-color: #{$scolor-graphite-minus-48};
  --tk-tag-border-hover-color: #{$scolor-graphite-minus-72};
  --tk-tag-background-disabled-color: #{$scolor-graphite-plus-24};
  --tk-tag-background-hover-color: #{$scolor-graphite};
  --tk-tag-background-color: #{$scolor-graphite};

  --tk-avatar-border-color: #{$scolor-graphite};

  // Card component
  $card-shadow-bottom: rgba($scolor-graphite-minus-72, 0.251);
  $card-shadow-left: rgba($scolor-graphite-minus-72, 0.08);
  --tk-card-border-color: #{$scolor-graphite-plus-24};
  --tk-card-shadow-hover-color: #{$card-shadow-bottom};
  --tk-card-shadow-hover-side-color: #{$card-shadow-left};

  --tk-nav-color-default: #{$scolor-graphite-minus-48};
  --tk-nav-color-hover: #{$scolor-graphite-minus-72};
  --tk-nav-color-active: #{$scolor-white};
  --tk-nav-color-disabled: #{$scolor-graphite-minus-48};
  --tk-nav-color-border-bottom: #{$scolor-graphite-minus-48};

  // Banner
  --tk-banner-foreground-color: #{$scolor-white};
  --tk-banner-background-color-info: #{getColor($electricity, '60')};
  --tk-banner-background-color-success: #{getColor($green, '60')};
  --tk-banner-background-color-warning: #{getColor($yellow, '30')};
  --tk-banner-background-color-error: #{getColor($red, '60')};
  --tk-banner-background-color-warning-icon-color: #{getColor($graphite, '80')};

  // Badge
  --tk-badge-text-color-default: #{getColor($graphite, '20')};
  --tk-badge-background-color-default: #{getColor($graphite, '60')};
  --tk-badge-text-color-positive: #{getColor($green, '20')};
  --tk-badge-background-color-positive: #{getColor($green, '60')};
  --tk-badge-text-color-neutral: #{getColor($electricity, '20')};
  --tk-badge-background-color-neutral: #{getColor($electricity, '60')};
  --tk-badge-text-color-attention: #{getColor($yellow, '20')};
  --tk-badge-background-color-attention: #{getColor($yellow, '60')};
  --tk-badge-text-color-warning: #{getColor($red, '20')};
  --tk-badge-background-color-warning: #{getColor($red, '60')};
}
