.tk-dark,
.dark {
  --tk-main-text-color: #{$scolor-graphite-minus-89};

  --tk-button-color-primary-disabled: #{$scolor-elements-primary-disabled-dark};
  --tk-button-color-primary-text-disabled: #{$scolor-graphite-minus-24};

  --tk-button-color-secondary-default: #{$scolor-elements-secondary-dark};
  --tk-button-color-secondary-hover: #{$scolor-elements-secondary-hover-dark};
  --tk-button-color-secondary-active: #{$scolor-elements-secondary-active-dark};
  --tk-button-color-secondary-disabled: #{$scolor-elements-secondary-disabled-dark};
  --tk-button-color-secondary-text: #{$scolor-elements-secondary-active};
  --tk-button-color-secondary-text-disabled: #{$scolor-elements-secondary-disabled-dark};

  --tk-button-color-tertiary-hover: #{$scolor-elements-tertiary-hover-dark};
  --tk-button-color-tertiary-active: #{$scolor-elements-tertiary-active-dark};
  --tk-button-color-tertiary-text: #{$scolor-graphite-minus-72};
  --tk-button-color-tertiary-text-disabled: #{$scolor-graphite-minus-72};

  --tk-button-color-destructive-disabled: #{$scolor-elements-destructive-disabled-dark};
  --tk-button-color-destructive-text-disabled: #{$scolor-graphite-minus-48};

  --tk-input-default-inactive-color: #{$scolor-graphite-minus-48};
  --tk-input-default-active-color: #{$scolor-graphite-minus-96};
  --tk-input-default-hover-color: #{$scolor-graphite-minus-72};
  --tk-input-default-focus-border-color: #{$scolor-electricity};
  --tk-input-default-background-color: #{$scolor-graphite-plus-24};

  --tk-input-error-background-color: #{$scolor-graphite-plus-24};

  --tk-input-disabled-color: #{$scolor-graphite-minus-48};
  --tk-input-disabled-background-color: #{$scolor-graphite-plus-48};

  --tk-datepicker-default-color: #{$scolor-graphite-minus-96};
  --tk-datepicker-disabled-color: #{$scolor-graphite-minus-24};

  --tk-table-hover-color: #{$scolor-graphite-plus-24};

  --tk-dialog-background-color: #{$scolor-graphite-plus-48};
  --tk-dialog-box-shadow-color: #{$scolor-graphite-minus-24};
  --tk-dialog-cross-color: #{$scolor-graphite-minus-48};
  --tk-dialog-cross-hover-color: #{$scolor-graphite-plus-72};
  --tk-dialog-backdrop-color: #{$scolor-dialog-backdrop-dark};

  --tk-list-background-color: #{$scolor-graphite-plus-48};
  --tk-list-hover-color: #{$scolor-graphite-plus-24};
  --tk-list-selected-color: #{$scolor-graphite-minus-88};
  --tk-list-divider-color: #{$scolor-graphite-minus-24};
  --tk-list-tag-color: #{$scolor-graphite-minus-21};
  --tk-tag-border-color: #{$scolor-graphite-minus-72};
  --tk-tag-border-disabled-color: #{$scolor-graphite-minus-48};
  --tk-tag-border-hover-color: #{$scolor-graphite-minus-72};
  --tk-tag-background-disabled-color: #{$scolor-graphite-plus-24};
  --tk-tag-background-hover-color: #{$scolor-graphite};
  --tk-tag-background-color: #{$scolor-graphite};

  --tk-avatar-border-color: #{$scolor-graphite};

  --tk-card-border-color: #{$scolor-graphite-plus-24};
  --tk-card-hover-color: #{$scolor-card-shadow-bottom};
  --tk-card-hover-side-color: #{$scolor-card-shadow-left};

  --tk-nav-color-default: #{$scolor-graphite-minus-48};
  --tk-nav-color-hover: #{$scolor-graphite-minus-72};
  --tk-nav-color-active: #{$scolor-white};
  --tk-nav-color-disabled: #{$scolor-graphite-minus-48};
  --tk-nav-color-border-bottom: #{$scolor-graphite-minus-48};
}
