.tk-color-action-primary {
  color: $scolor-electricity !important;
}
.tk-color-action-ok {
  color: $scolor-green !important;
}

.tk-color-action-attention {
  color: $scolor-orange !important;
}

.tk-color-action-warning {
  color: $scolor-red !important;
}

.tk-text-color {
  color: $--tk-main-text-color;

  &--warning {
    @extend .tk-color-action-warning;
  }
  &--ok {
    @extend .tk-color-action-ok;
  }
  &--attention {
    @extend .tk-color-action-attention;
  }
  &--primary {
    @extend .tk-color-action-primary;
  }
}
