$colorMap: (
  "primary": $scolor-electricity,
  "ok": $scolor-green,
  "attention": $scolor-orange,
  "warning": $--tk-color-error,
);

@each $name, $color in $colorMap {
    .tk-color-action-#{$name} {
      color: $color !important;
    }
    .tk-text-color-#{$name} { // deprecated
      color: $color !important;
    }
    .tk-text-color--#{$name} {
      color: $color !important;
    }
    .tk-bg-color--#{$name} {
      background-color: $color !important;
    }
}

.tk-text-color {
  color: $--tk-main-text-color;
}
