.tk-datepicker {
  position: relative;

  & .DatePickerContainer {
    // z-index: 4; equivalent to $z-index-tooltip
    z-index: 4;
  }
}

.tk-daypicker {
  color: $--tk-datepicker-default-color;
  font-size: toRem(14);
  padding: toRem(20) toRem(16) toRem(16) toRem(16);
  @include boxContainer();

  .tk-daypicker-header {
    margin-bottom: toRem(12);
    font-weight: 600;

    display: flex;
    justify-content: space-between;

    &--prevYear {
      margin-left: toRem(9);
      @include styleDayPickerHeaderAction($--tk-datepicker-accent-color);
    }
    &--nextYear {
      margin-right: toRem(9);
      @include styleDayPickerHeaderAction($--tk-datepicker-accent-color);
    }
    &--prevMonth {
      @include styleDayPickerHeaderAction($--tk-datepicker-accent-color);
    }
    &--nextMonth {
      @include styleDayPickerHeaderAction($--tk-datepicker-accent-color);
    }
    &--text {
      display: flex;
      justify-content: center;
      align-self: center;
      text-transform: uppercase;
      font-size: toRem(12);
      line-height: toRem(16);
    }
    &--button {
      &:focus-visible {
        @include outlineStyle;
      }
    }
  }

  .tk-daypicker-weekday {
    color: $--tk-input-default-active-color;
    font-weight: 600;
    display: grid;
    grid-template-columns:
      toRem(32) toRem(32) toRem(32)
      toRem(32) toRem(32) toRem(32) toRem(32);
    grid-template-rows: toRem(20);

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: toRem(12);
      line-height: toRem(16);
    }
  }

  .tk-daypicker-body {
    display: grid;
    grid-template-columns:
      toRem(32) toRem(32) toRem(32)
      toRem(32) toRem(32) toRem(32) toRem(32);
    grid-template-rows:
      toRem(32) toRem(32) toRem(32)
      toRem(32) toRem(32) toRem(32);
    font-size: toRem(14);

    .tk-daypicker-row {
      display: contents;
    }

    .tk-daypicker-day {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $--tk-input-default-active-color;
      border: none;
      cursor: pointer;
      border-radius: toRem(2);
      font-weight: 400;
      background: none;
      margin: 2px;
      &:hover {
        background: $--tk-datepicker-hover-background;
      }
      &:focus,
      &:focus-within {
        @include outlineStyle;
      }
      &:focus-visible {
        @include outlineStyle;
      }
      &--highlighted {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: toRem(5);
          left: 50%;
          transform: translateX(-50%);
          width: toRem(20);
          height: toRem(2);
          background-color: $--tk-datepicker-accent-color;
        }
      }
      &--selected {
        background-color: $--tk-datepicker-selected-background;
        color: $--tk-datepicker-selected-color;
        &:hover {
          @include outlineStyle;
          outline-color: $--tk-datepicker-selected-hover-outline;
          background-color: $--tk-datepicker-selected-background;
          color: $--tk-datepicker-selected-color;
        }
        &:focus {
          @include outlineStyle;
        }
      }
      &--disabled {
        position: relative;
        cursor: not-allowed;
        color: $--tk-datepicker-disabled-color;
        &:hover {
          background: none;
        }
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: toRem(20);
          border: toRem(1) solid $--tk-datepicker-disabled-color;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:hover {
          outline: none;
        }
        &:focus {
          outline: none;
        }
      }
      &--outside {
        border: none;
        background: none;
        pointer-events: none;
      }

      &--today {
        position: relative;
        &::after {
          font-size: toRem(10);
          content: '';
          position: absolute;
          bottom: 0;
          height: 0.45em;
          width: 0.45em;
          background-color: currentColor;
          border-radius: 50%;
        }
      }
    }

    .focus-visible {
      @include outlineStyle;
    }
  }

  .tk-daypicker-footer {
    display: flex;
    justify-content: center;
    .tk-daypicker-today {
      cursor: pointer;
      color: $--tk-datepicker-accent-color;
      font-weight: 600;
      text-transform: uppercase;
      position: relative;
      font-size: toRem(12);
      line-height: toRem(16);
      &:focus-visible {
        @include outlineStyle;
      }
      &::after {
        font-size: toRem(10);
        content: '';
        position: absolute;
        bottom: 0;
        height: 0.45em;
        width: 0.45em;
        background-color: $--tk-datepicker-accent-color;
        border-radius: 50%;
        left: 50%;
        bottom: toRem(-8);
        transform: translateX(-50%);
      }
    }
  }
}
