.tk-datepicker {
  position: relative;

  & .DatePickerContainer {
    // z-index: 4; equivalent to $z-index-tooltip
    z-index: 4;
  }
}

.tk-daypicker {
  color: $--tk-datepicker-default-color;
  font-size: toRem(14);
  padding: toRem(20) toRem(16) toRem(16)
    toRem(16);
  @include boxContainer();

  .tk-daypicker-header {
    margin-bottom: toRem(12);
    font-weight: 600;

    display: flex;
    justify-content: space-between;

    &--prevYear {
      margin-left: toRem(9);
      @include styleDayPickerHeaderAction($scolor-electricity);
    }
    &--nextYear {
      margin-right: toRem(9);
      @include styleDayPickerHeaderAction($scolor-electricity);
    }
    &--prevMonth {
      @include styleDayPickerHeaderAction($scolor-electricity);
    }
    &--nextMonth {
      @include styleDayPickerHeaderAction($scolor-electricity);
    }
    &--text {
      display: flex;
      justify-content: center;
      align-self: center;
      text-transform: uppercase;
      font-size: toRem(12);
      line-height: toRem(16);
    }
    &--button {
      &:focus-visible {
        @include outlineStyle;
      }
    }
  }

  .tk-daypicker-weekday {
    color: $--tk-input-default-active-color;
    font-weight: 600;
    display: grid;
    grid-template-columns:
      toRem(32) toRem(32) toRem(32)
      toRem(32) toRem(32) toRem(32) toRem(32);
    grid-template-rows: toRem(20);

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: toRem(12);
      line-height: toRem(16);
    }
  }

  .tk-daypicker-body {
    display: grid;
    grid-template-columns:
      toRem(32) toRem(32) toRem(32)
      toRem(32) toRem(32) toRem(32) toRem(32);
    grid-template-rows:
      toRem(32) toRem(32) toRem(32)
      toRem(32) toRem(32) toRem(32);
    font-size: toRem(14);

    .tk-daypicker-row {
      display: contents;
    }

    .tk-daypicker-day {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $--tk-input-default-active-color;
      border: none;
      cursor: pointer;
      border-radius: toRem(2);
      font-weight: 400;
      background: none;
      margin: 2px;
      &:hover {
        @include outlineStyle;
      }
      &:focus, &:focus-within {
        @include outlineStyle;
      }
      &:focus-visible {
        @include outlineStyle;
      }
      &--highlighted {
        color: $scolor-electricity;
        font-weight: 700;
      }
      &--selected {
        background-color: $scolor-electricity;
        color: $scolor-graphite-minus-96;
        border-radius: toRem(2);
      }
      &--disabled {
        cursor: not-allowed;
        color: $--tk-input-default-inactive-color;
        text-decoration-line: line-through;
        &:hover {
          outline: none;
        }
        &:focus {
          outline: none;
        }
      }
      &--outside {
        border: none;
        background: none;
        pointer-events: none;
      }

      &--today {
        position: relative;
        &::after {
          font-size: toRem(10);
          content: "";
          position: absolute;
          bottom: 0;
          height: 0.45em;
          width: 0.45em;
          background-color: currentColor;
          border-radius: 50%;
        }
      }
    }

    .focus-visible {
      @include outlineStyle;
    }
  }

  .tk-daypicker-footer {
    display: flex;
    justify-content: center;
    .tk-daypicker-today {
      cursor: pointer;
      color: $scolor-electricity;
      font-weight: 600;
      text-transform: uppercase;
      font-size: toRem(12);
      line-height: toRem(16);
      &:focus-visible {
        @include outlineStyle;
      }
    }
  }
}
