$ICONS_FONTS_PATH: '~@symphony-ui/uitoolkit-styles/dist/fonts' !default;

@import './animation';
@import './generated/tk-icons-definitions';

.tk-icon {
  display: inline-block;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
