@mixin checkbox_radio_common($fontSize){
  display: flex;
  align-items: center;
  color: $--tk-input-default-active-color;
  min-height: toEm(20, $fontSize);

  // Padding for outline focus display
  $focusPadding: toEm(2, $fontSize);
  padding: $focusPadding;

  &--focus-visible {
    @include browserOutline();
  }

  &__input {
    // Hide the input without using 'display:none'.
    // Otherwise it will hide the checkbox from both browser and assistive technology (AT) users,
    // and we would also lose keyboard interactions.
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  &__inputContainer {
    position: relative;
  }

  &__icon {
    display: flex;
    &:before {
      font-family: 'tk-icons';
      font-size: toEm(16, $fontSize);
      font-style: normal;
      font-weight: normal;
      width: 1em;
      line-height: 1em;
      text-align: center;
    }
  }

  &__input:checked:enabled + &__icon:before {
    color: $--tk-color-primary;
  }

  &__label {
    $labelMargin: toEm(8, $fontSize);

    outline: none;
    font-size: toEm($fontSize);
    margin-left: $labelMargin;

    &--top {
      margin-bottom: $labelMargin;
      margin-left: 0;
    }
    &--right {
      margin-left: $labelMargin;
    }
    &--left {
      margin-right: $labelMargin;
      margin-left: 0;
    }
    &--bottom {
      margin-top: $labelMargin;
      margin-left: 0;
    }
  }

  &__labelPlacement {
    &--top {
      flex-direction: column-reverse;
    }
    &--left {
      flex-direction: row-reverse;
    }
    &--bottom {
      flex-direction: column;
    }
  }

  &__input:enabled {
    cursor: pointer;
  }

  &__input:disabled + &__icon:before {
    color: $--tk-input-disabled-color;
  }
}
