/* Add extra border without changing size (useful when changing size) */
@mixin addBorder($size, $color) {
  box-shadow: inset 0 0 0 $size $color;
  border-color: $color;
}

/* Outlines are common to all inputs. Blurred outline is not supported yet. */
@mixin addOutline() {
  outline: toRem(4) auto $--tk-outline-color;
}

@mixin addTransition() {
  transition: all 200ms ease-in-out;
}

// Simulate browser outline (Come from https://ghinda.net/article/mimic-native-focus-css)
@mixin browserOutline() {
  outline-width: toRem(2);
  outline-style: solid;
  outline-color: Highlight;

  /* WebKit gets its native focus styles.
   */
  @media (-webkit-min-device-pixel-ratio:0) {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}