@mixin styleHoverInput($borderColor, $fontColor) {
  color: $fontColor;
  @include addBorder(2px, $borderColor);
  &::placeholder {
    color: $fontColor;
  }
}
@mixin styleInput(
  $inactiveColor,
  $focusBorderColor,
  $hoverColor,
  $activeColor,
  $backgroundColor
) {
  color: $activeColor;
  background-color: $backgroundColor;
  @include addBorder(2px, $inactiveColor);
  &::placeholder {
    @include addTransition();
    color: $inactiveColor;
  }
  &:hover {
    @include styleHoverInput($hoverColor, $activeColor);
  }
  &:focus,
  &:active,
  &.active {
    color: $activeColor;
    @include addBorder(2px, $focusBorderColor);
  }

  .tk-input__container:focus-within & {
    @include addBorder(2px, $focusBorderColor);
  }
}

@mixin styleInputIcon(
  $inactiveColor,
  $focusBorderColor,
  $hoverColor,
  $iconColor
) {
  .tk-input__icon {
    color: $iconColor;
    background-color: $inactiveColor;
  }
  &:hover {
    .tk-input__icon {
      background-color: $hoverColor;
    }
  }
  &:focus,
  &:focus-within {
    .tk-input__icon {
      background-color: $focusBorderColor;
    }
  }
  .tk-input__icon.active {
    background-color: $focusBorderColor;
    color: $scolor-white;
  }
}
