@mixin styleHoverInput($borderColor, $fontColor) {
  color: $fontColor;
  @include addBorder(2px, $borderColor);
  &::placeholder {
    color: $fontColor;
  }
}
@mixin styleInput($inactiveColor, $focusBorderColor, $hoverColor, $activeColor, $backgroundColor) {
  color: $activeColor;
  background-color: $backgroundColor;
  @include addBorder(2px, $inactiveColor);
  &::placeholder {
    @include addTransition();
    color: $inactiveColor;
  }
  &:hover {
    @include styleHoverInput($hoverColor, $activeColor);
  }
  &:focus,
  &:active {
    color: $activeColor;
    @include addBorder(2px, $focusBorderColor);
  }
}
