$list-box-shadow: rgba($scolor-graphite-plus-89, 0.122);

@mixin listStyle {
  text-align: left;
  border: toRem(1) solid $list-box-shadow;
  border-radius: toRem(8);
  box-shadow: 0 toRem(2) toRem(4) $list-box-shadow;
  background-color: getColor($--tk-select-color, defaultMenuBg);

  &--selected {
    @include styleSelectedIcon;
  }

  &__item {
    position: relative;
    color: getColor($--tk-select-color, defaultMenuText);
    display: block;
    cursor: pointer;
    padding-left: toRem(16);

    &:hover {
      color: getColor($--tk-select-color, hoverMenuText);
      background-color: getColor($--tk-select-color, hoverMenuBg);
      i, i::before {
        color: getColor($--tk-select-color, hoverMenuIcon);
      }
    }
  }
}
