// Avatar sizes defined by the Symphony design system
$avatar-font-sizes: (
  "xsmall": 8,
  "small": 12,
  "medium": 14,
  "large": 18,
  "xlarge": 32,
  "xxlarge": 64,
);

$avatar-sizes: (
  "xsmall": 16,
  "small": 24,
  "medium": 32,
  "large": 40,
  "xlarge": 80,
  "xxlarge": 160,
);
$default-font-size: map-get($avatar-font-sizes, "medium");

.tk-avatar {
  vertical-align: middle;
  line-height: 100%;
  display: inline-flex;
  position: relative;
  border-radius: 50%; // Default rounded avatar
  align-items: center;
  justify-content: center;
  user-select: none;
  width: toRem(map-get($avatar-sizes, "medium"));
  height: toRem(map-get($avatar-sizes, "medium"));
  font-size: toRem($default-font-size); //Default fontsize
  text-align: center;

  @each $size, $size-value in $avatar-font-sizes {
    &--#{$size} {
      font-size: toRem($size-value);
      width: toRem(map-get($avatar-sizes, $size));
      height: toRem(map-get($avatar-sizes, $size));

      &[class*="--border"] {
        border-style: solid;
        border-color: $--tk-avatar-border-color;
        border-width: medium;

        @if ($size-value < $default-font-size) {
          border-width: thin;
        } @else if($size-value > map-get($avatar-font-sizes, "large")) {
          border-width: thick;
        }
      }
    }
  }

  .tk-badge {
    overflow: hidden;
    position: absolute;
    z-index: $z-index-badge;
    align-items: center;
    justify-content: center;
    user-select: none;

    &--bottom {
      right: 13.64%;
      bottom: 13.64%;
      transform: translate(50%, 50%);
    }

    &--top {
      right: 14.64%;
      top: 14.64%;
      transform: translate(50%, -50%);
    }
  }

  &--square {
    border-radius: toRem(4);
    &[class*="--border"]img.tk-avatar {
      border-radius: 0;
    }

    .tk-badge--bottom {
      right: 0;
      bottom: 10%;
    }

    .tk-badge--top {
      top: 0;
      right: 2%;
    }
  }

  &--rounded {
    border-radius: 50%;
  }

  & > img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: $z-index-avatar;
  }

  &__clip-path {
    position: absolute;
    width: 0;
    height: 0;
  }
}
