$avatar-sizes: ("xsmall": 16px, "small": 24px, "medium": 32px, "large": 40px, "xlarge": 80px, "xxlarge": 160px);

.tk-avatar {
  width: map-get($avatar-sizes, "medium");
  height: map-get($avatar-sizes, "medium");
  display: flex;
  position: relative;
  border-radius: 50%; // Default rounded avatar
  align-items: center;
  justify-content: center;

  img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--square {
    border-radius: 4px;
  }

  &--rounded {
    border-radius: 50%;
  }

  @each $size,
  $size-value in $avatar-sizes {
    &--#{$size} {
      width: $size-value;
      height: $size-value;
      font-size: $size-value/2;

      &[class*="--border"] {
        border-style: solid;
        border-color: $--tk-avatar-border-color;
        border-width: medium;

        @if($size-value < map-get($avatar-sizes, "medium")) {
          border-width: thin;
        }

        @else if($size-value > map-get($avatar-sizes, "large")) {
          border-width: thick;
        }
      }

      // .tk-avatar__badge {
      //   position: absolute;
      //   font-size: 14px;

      //   &--bottom {
      //     @if($size-value > map-get($avatar-sizes, "xlarge")) {
      //       left: 140px;
      //       top: 140px;
      //     }

      //     &--top {}
      //   }
      // }
    }
  }
}