$fontSize: 12;
.tk-button {
  font-size: toRem($fontSize);
  display: inline-block;
  border: none;
  border-radius: toRem(28);
  padding: toRem(8) toRem(16);
  letter-spacing: toRem(0.5);
  text-transform: uppercase;
  text-align: center;
  line-height: toRem(16);
  height: auto;
  width: auto;
  white-space: nowrap;

  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    pointer-events: all;
  }

  &:focus {
    @include addOutline();
  }

  @include styleFilledButton($--tk-button-color-primary);

  &--primary {
    @include styleFilledButton($--tk-button-color-primary);
  }
  &--secondary {
    @include styleOutlinedButton($--tk-button-color-secondary);
  }
  &--tertiary {
    @include styleFilledButton($--tk-button-color-tertiary);
  }
  &--destructive {
    @include styleFilledButton($--tk-button-color-destructive);
  }
  &--icon {
    border-radius: 50%;
    padding: toRem(8);
    min-width: toRem(32);
  }
}
