$fontSize: 12;
.tk-button {
  font-size: toEm($fontSize);
  display: inline-block;
  border: none;
  border-radius: toEm(16, $fontSize);
  padding: toEm(8, $fontSize) toEm(16, $fontSize);
  letter-spacing: toEm(0.5, $fontSize);
  height: toEm(32, $fontSize);
  text-transform: uppercase;
  text-align: center;
  line-height: toEm(16, $fontSize);

  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    pointer-events: all;
  }

  &:focus {
    @include addOutline($--tk-outline-color);
  }

  @include styleFilledButton($--tk-button-color-primary);

  &--primary {
    @include styleFilledButton($--tk-button-color-primary);
  }
  &--secondary {
    @include styleOutlinedButton($--tk-button-color-secondary);
  }
  &--tertiary {
    @include styleFilledButton($--tk-button-color-tertiary);
  }
  &--destructive {
    @include styleFilledButton($--tk-button-color-destructive);
  }
  &--icon {
    border-radius: 50%;
    padding: toEm(8, $fontSize);
  }
}
