$tk-btn-size: toRem(32);
.tk-button {
  font-size: toRem(12) !important; // To differenciate the icon size
  display: inline-block;
  border: none;
  border-radius: toRem(28);
  padding: toRem(0) toRem(16);
  letter-spacing: toRem(0.5);
  text-transform: uppercase;
  text-align: center;
  height: $tk-btn-size;
  width: auto;
  white-space: nowrap;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    pointer-events: all;
  }
  @include addIconSize(16);
  &--primary {
    @include styleFilledButton($--tk-button-color-primary);
    &-destructive {
      @include styleFilledButton($--tk-button-color-destructive-primary);
    }
  }
  &--secondary {
    @include styleOutlinedButton($--tk-button-color-secondary);
    &-destructive {
      @include styleOutlinedButton($--tk-button-color-destructive-secondary);
    }
  }
  &--tertiary {
    @include styleFilledButton($--tk-button-color-tertiary);
    &-destructive {
      @include styleFilledButton($--tk-button-color-destructive-tertiary);
    }
    &-accent {
      @include styleFilledButton($--tk-button-color-active-tertiary);
    }
  }
  &-destructive {
    @include styleFilledButton($--tk-button-color-destructive-primary);
  }
  &--icon {
    padding: 0;
    min-width: $tk-btn-size;
    min-height: $tk-btn-size;
    display: inline-block;
    border-radius: 50%;
    &-right > i {
      margin-left: toRem(8);
    }
    &-left > i {
      margin-right: toRem(8);
    }
  }
  &--small {
    @include addIconSize(12);
    $tk-btn-size: toRem(24);
    height: $tk-btn-size;
    &.tk-button--icon {
      min-height: $tk-btn-size;
      min-width: $tk-btn-size;
      &-right > i {
        margin-left: toRem(4);
      }
      &-left > i {
        margin-right: toRem(4);
      }
    }
  }
  &--large {
    font-size: toRem(14) !important;
    $tk-btn-size: toRem(40);
    height: $tk-btn-size;
    &.tk-button--icon {
      min-height: $tk-btn-size;
      min-width: $tk-btn-size;
    }
  }
}
