$tk-button-size: toRem(32);
.tk-button {
  position: relative;
  font-size: toRem(12);
  display: inline-block;
  border: none;
  border-radius: toRem(28);
  padding: toRem(0) toRem(16);
  letter-spacing: toRem(0.5);
  text-transform: uppercase;
  text-align: center;
  height: $tk-button-size;
  width: auto;
  white-space: nowrap;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    pointer-events: all;
  }
  i {
    font-size: toRem(16);
  }
  &--primary {
    @include styleFilledButton($--tk-button-color-primary);
    &-destructive {
      @include styleFilledButton($--tk-button-color-destructive-primary);
    }
  }
  &--secondary {
    @include styleOutlinedButton($--tk-button-color-secondary);
    &-destructive {
      @include styleOutlinedButton($--tk-button-color-destructive-secondary);
    }
  }
  &--tertiary {
    @include styleFilledButton($--tk-button-color-tertiary);
    &-destructive {
      @include styleFilledButton($--tk-button-color-destructive-tertiary);
    }
    &-accent {
      @include styleFilledButton($--tk-button-color-accent-tertiary);
    }
  }
  &-destructive {
    @include styleFilledButton($--tk-button-color-destructive-primary);
  }
  &--icon {
    padding: 0;
    min-width: $tk-button-size;
    min-height: $tk-button-size;
    display: inline-block;
    border-radius: 50%;
    &-right > i {
      margin-left: toRem(8);
    }
    &-left > i {
      margin-right: toRem(8);
    }
  }
  &--small {
    padding: toRem(0) toRem(12);
    @include addIconSize(12);
    $tk-button-size: toRem(24);
    height: $tk-button-size;
    &.tk-button--icon {
      padding: 0;
      min-height: $tk-button-size;
      min-width: $tk-button-size;
      &-right > i {
        margin-left: toRem(4);
      }
      &-left > i {
        margin-right: toRem(4);
      }
    }
  }
  &--large {
    padding: toRem(0) toRem(24);
    font-size: toRem(14);
    $tk-button-size: toRem(40);
    height: $tk-button-size;
    &.tk-button--icon {
      padding: 0;
      min-height: $tk-button-size;
      min-width: $tk-button-size;
    }
  }
  .tk-icon-loading {
    position: absolute;
    margin: 0 auto;
    top: 25%;
    left: 0;
    right: 0;
  }
}
