$fontSize: 14;

$labelMargin: toEm(8, $fontSize);

.tk-checkbox {
  color: $--tk-input-default-active-color;
  min-height: toEm(20, $fontSize);

  // Exceptional margin for outline focus display
  $focusMargin: toEm(2, $fontSize);
  margin: $focusMargin;
  padding: $focusMargin;

  &:focus {
    outline-width: $focusMargin;
  }

  &__icon {
    font-size: toEm(16, $fontSize);
  }

  &__label {
    outline: none;
    font-size: toEm($fontSize);

    &--top {
      margin-bottom: $labelMargin;
    }
    &--right {
      margin-left: $labelMargin;
    }
    &--left {
      margin-right: $labelMargin;
    }
    &--bottom {
      margin-top: $labelMargin;
    }
  }

  &--checked {
    & .tk-checkbox__icon i {
      color: $--tk-color-primary;
    }
  }

  &--disabled {
    color: $--tk-input-disabled-color;
    cursor: none;
    .tk-checkbox__icon i {
      color: $--tk-input-disabled-color;
    }
  }
}
