$fontSize: 14;

.tk-input__container {
  position: relative;
  display: flex;
  margin-bottom: toEm(4, $fontSize);
}

textarea.tk-input {
  $height: toEm(110, $fontSize);
  min-height: $height;
  text-overflow: ellipsis;
}

.tk-input {
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: toEm($fontSize);
  line-height: toEm(20, $fontSize);
  padding: toEm(8, $fontSize) toEm(75, $fontSize) toEm(8, $fontSize) toEm(10, $fontSize);
  background-color: transparent;
  border-color: transparent;
  border-radius: toEm(4, $fontSize);
  border: none;
  outline: none;
  @include addTransition();

  @include styleInput(
    $--tk-input-default-inactive-color,
    $--tk-input-default-focus-border-color,
    $--tk-input-default-hover-color,
    $--tk-input-default-active-color,
    $--tk-input-default-background-color
  );

  .tk-validation--error & {
    @include styleInput(
      $--tk-input-error-inactive-color,
      $--tk-input-error-focus-border-color,
      $--tk-input-error-active-color,
      $--tk-input-error-active-color,
      $--tk-input-error-background-color
    );
  }
  &--disabled,
  &:disabled {
    @include styleInput(
      $--tk-input-disabled-color,
      $--tk-input-disabled-color,
      $--tk-input-disabled-color,
      $--tk-input-disabled-color,
      $--tk-input-disabled-background-color
    );
  }

  &__hide {
    position: absolute;
    height: 100%;
    right: 0;
    width: toEm(75, $fontSize);
    max-height: toEm(39, $fontSize);
    background-color: transparent;
    color: $scolor-electricity;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__helper {
    @extend .tk-label;
  }
}

.tk-validation {
  &--error {
    color: $--tk-input-error-inactive-color;
  }

  &--error:focus-within &__errors,
  &--error:hover &__errors {
    color: $--tk-input-error-active-color;
  }

  &__errors {
    @extend .tk-label;
    @extend .tk-label--error;
  }
}

/* Select */
select.tk-input {
  -webkit-appearance: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 50%;
  background-image: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.00003 6C4.59557 6 4.23093 6.24364 4.07615 6.61732C3.92137 6.99099 4.00692 7.42111 4.29292 7.70711L7.29292 10.7071C7.68345 11.0976 8.31661 11.0976 8.70714 10.7071L11.7071 7.70711C11.9931 7.42111 12.0787 6.99099 11.9239 6.61732C11.7691 6.24364 11.4045 6 11 6H5.00003Z' fill='black'/></svg>");
}
