$fontSize: 14;

.tk-input__container {
  position: relative;
}

textarea.tk-input {
  $height: toEm(110, $fontSize);
  min-height: $height;
  text-overflow: ellipsis;
}

.tk-input {
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: toEm($fontSize);
  line-height: toEm(20, $fontSize);
  padding: toEm(8, $fontSize) toEm(75, $fontSize) toEm(8, $fontSize)
    toEm(10, $fontSize);
  background-color: transparent;
  border-color: transparent;
  border-radius: toEm(4, $fontSize);
  border: none;
  outline: none;
  @include addTransition();

  &--with-icon {
    padding-left: toEm(40, $fontSize);
  }
  @include styleInput(
    $--tk-input-default-inactive-color,
    $--tk-input-default-focus-border-color,
    $--tk-input-default-hover-color,
    $--tk-input-default-active-color,
    $--tk-input-default-background-color
  );

  .tk-validation--error & {
    @include styleInput(
      $--tk-input-error-inactive-color,
      $--tk-input-error-focus-border-color,
      $--tk-input-error-active-color,
      $--tk-input-error-active-color,
      $--tk-input-error-background-color
    );
  }
  &:disabled {
    @include styleInput(
      $--tk-input-disabled-color,
      $--tk-input-disabled-color,
      $--tk-input-disabled-color,
      $--tk-input-disabled-color,
      $--tk-input-disabled-background-color
    );
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: toEm(32, $fontSize);

    border-radius: toEm(4, $fontSize) 0 0 toEm(4, $fontSize);
    color: $scolor-white;
    z-index: $z-index-input;
    @include addTransition();

  }

  &__hide {
    position: absolute;
    height: 100%;
    right: 0;
    width: toEm(75, $fontSize);
    max-height: toEm(39, $fontSize);
    background-color: transparent;
    color: $scolor-electricity;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__helper {
    @extend .tk-label;
    margin-top: toEm(4, $fontSize);
  }
}

/** icon styles depends on container **/
.tk-input__container {
  @include styleInputIcon(
    $--tk-input-default-inactive-color,
    $--tk-input-default-focus-border-color,
    $--tk-input-default-hover-color,
    $--tk-input-default-background-color
  );

  .tk-validation--error & {
    @include styleInputIcon(
      $--tk-input-error-inactive-color,
      $--tk-input-error-focus-border-color,
      $--tk-input-error-active-color,
      $--tk-input-error-background-color
    );
  }
  .tk-input-group--disabled & {
    .tk-input__icon {
      outline: none;
    }
    @include styleInputIcon(
      $--tk-input-disabled-color,
      $--tk-input-disabled-color,
      $--tk-input-disabled-color,
      $--tk-input-disabled-background-color
    );
  }
}

.tk-validation {
  &--error {
    color: $--tk-input-error-inactive-color;
  }

  &--error:focus-within &__errors,
  &--error:hover &__errors {
    color: $--tk-input-error-active-color;
  }

  &__errors {
    @extend .tk-label;
    @extend .tk-label--error;
  }
}

/* Select */
select.tk-input {
  -webkit-appearance: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 50%;
  
  &+i::before {
    position: relative;
    right: 24px;
    font-style: normal;
    font-family: 'tk-icons';
    font-size: 14px;
    @include tk-icon-drop-down;
  }

  &--expanded+i::before {
    @include tk-icon-drop-up;
  }
}

.tk-list-box {
  max-height: 288px;
  background-color: $--tk-list-background-color;
  text-align: left;
  border: 1px solid $scolor-list-box-shadow;
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: scroll;
  z-index: $z-index-input;
  box-shadow: 0px 2px 4px $scolor-list-box-shadow;
  @extend .tk-py-1;
}

.tk-list-option {
  position: relative;
  color: $--tk-main-text-color;
  display: block;
  cursor: pointer;
  @extend .tk-py-1h;
  @extend .tk-pl-2;
  @extend .tk-pr-2h;

  &:hover {
    background-color:$--tk-table-hover-color;
  }

  &--selected::before {
    position: absolute;
    right: 20px;
    font-style: normal;
    font-family: 'tk-icons';
    color: $--tk-list-selected-color;
    font-size: 16px;
    @include tk-icon-check;
  }
}
