$fontSize: 12;

.tk-label {
  @include addTransition();
  display: block;
  font-size: toEm($fontSize);
  line-height: toEm(16, $fontSize);
  color: $--tk-input-default-inactive-color;
  &:hover,
  .tk-validation--error &:hover,
  &--error:hover {
    color: $--tk-input-default-active-color;
  }
  .tk-validation--error &,
  &--error {
    color: $--tk-input-error-inactive-color;
  }
  &--disabled,
  &--disabled:hover {
    color: $--tk-input-disabled-color;
  }
  &--required::after{
      content: '*';
      color: $scolor-red;
      margin-left: 2px;
      font-size: toEm(16);
      font-weight: 600;
    }
}
