.tk-label {
  @include styleLabel;
  color: $--tk-label-color;

  &--disabled,
  &--disabled:hover {
    color: getColor($--tk-input-color, disabledText);
  }
  &--required::before {
    content: "*";
    color: $--tk-label-required-color;
    margin-right: toRem(2);
    font-size: toRem(16);
    font-weight: 600;
  }
}
