select.tk-select {
  @extend .tk-input;
  -webkit-appearance: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position-x: 96%;
  background-position-y: 50%;

  &+i::before {
    position: relative;
    right: 24px;
    font-style: normal;
    font-family: 'tk-icons';
    font-size: 14px;
    @include tk-icon-drop-down;
  }

  &--expanded+i::before {
    @include tk-icon-drop-up;
  }
}

.tk-select__container {
  @extend .tk-input__container;
}

.tk-select-group {
  @extend .tk-input-group;
}

.tk-select {
  &__helper {
    @extend .tk-label;
    margin-top: toEm(4, $fontSize);
  }
}

.tk-select--custom-dropdown {
  max-height: 288px;
  background-color: $--tk-select-background-color;
  text-align: left;
  border: 1px solid $scolor-list-box-shadow;
  border-radius: 8px;
  overflow-x: auto;
  overflow-y: scroll;
  z-index: $z-index-input;
  box-shadow: 0px 2px 4px $scolor-list-box-shadow;
  @extend .tk-py-1;
}

.tk-select--custom-dropdown__option {
  position: relative;
  color: $--tk-main-text-color;
  display: block;
  cursor: pointer;
  @extend .tk-py-1h;
  @extend .tk-pl-2;
  @extend .tk-pr-2h;

  &:hover {
    background-color: $--tk-table-hover-color;
  }

  &--selected::before {
    position: absolute;
    right: 20px;
    font-style: normal;
    font-family: 'tk-icons';
    color: $--tk-select-selected-color;
    font-size: 16px;
    @include tk-icon-check;
  }
}