.tk-toast {
    background-color: $scolor-graphite-plus-48;
    border-radius: 16px;
    color: $scolor-graphite-minus-96;
    line-height: toRem(20);
    padding-bottom: toRem(10);
    padding-left: toRem(16);
    padding-right: toRem(16);
    padding-top: toRem(10);
    width: fit-content;
    z-index: $z-index-toast;

    &__icon-left {
        color: $scolor-graphite-minus-55;
        margin-right: toRem(16);
    }

    &__icon-right {
        color: $scolor-graphite-minus-55;
        margin-left: toRem(16);
    }

    &--warning &__icon-left{
        color: $--tk-color-error
    }
}
