$fontSize: 12;

.tk-tooltip {
  background-color: $scolor-midnight;
  border: 1px solid $scolor-dialog-backdrop;
  border-radius: 11px;
  color: $scolor-graphite-minus-96;
  display: flex;
  flex-direction: column;
  font-size: #{$fontSize}px;
  justify-content: space-between;
  line-height: toEm(16, $fontSize);
  padding-bottom: toEm(2, $fontSize);
  padding-left: toEm(8, $fontSize);
  padding-right: toEm(8, $fontSize);
  padding-top: toEm(2, $fontSize);
  text-align: center;
  width: fit-content;
  z-index: $z-index-tooltip;
}
