$fontSize: 14;
$backgroundColor: $scolor-graphite-plus-48;

.tk-tooltip {
  border-radius: 8px;
  background-color: $backgroundColor;
  font-size: toEm($fontSize);
  padding: toEm(16, $fontSize);
  text-align: center;
  color: $scolor-white;
  line-height: toEm(20, $fontSize);
  white-space: pre-line;
  min-width: toEm(200, $fontSize);
  max-width: toEm(500, $fontSize);

  &__arrow {
    $arrowSize:toEm(24,$fontSize);
    width: $arrowSize;
    height: $arrowSize;

    &::before {
      width: $arrowSize;
      height: $arrowSize;
      background: $backgroundColor;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: toEm(8, $fontSize);
  }

  &__close {
    text-transform: uppercase;
    padding: toEm(8, $fontSize) toEm(16, $fontSize);
  }
}
