.tk-button {
  border: none;
  border-radius: 1.333em;
  padding: 0.667em 1.333em;
  font-size: 0.75em;
  letter-spacing: 0.041em;
  height: 2.667em;
  text-transform: uppercase;

  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    pointer-events: all;
  }

  &:focus {
    outline: 3px auto $--tk-outline-color;
  }

  @include styleFilledButton($--tk-button-color-primary);

  &--primary {
    @include styleFilledButton($--tk-button-color-primary);
  }
  &--secondary {
    @include styleOutlinedButton($--tk-button-color-secondary);
  }
  &--tertiary {
    @include styleFilledButton($--tk-button-color-tertiary);
  }
  &--destructive {
    @include styleFilledButton($--tk-button-color-destructive);
  }
  &--icon {
    border-radius: 50%;
    padding: 0.667em;
  }
}
