.tk-input-group {
  @include styleInputGroup;
  
  .tk-input__helper {
    @include styleLabel;
    margin-top: toRem(4);
  }

  .tk-input-group__header {
    margin-bottom: toRem(4);
    .tk-tooltip__wrapper {
      font-size: toRem(16);
    }
  }
  .tk-input__helper {
    margin-top: toRem(4);
  }

  &--disabled {
    .tk-input-group__header {
      label {
        color: getColor($--tk-input-color, disabledText);
      }
    }
    .tk-input__helper {
      color: getColor($--tk-input-color, disabledText);
    }
  }


  &--small, #{condensed('--medium')}, #{condensed('')} {
    .tk-input-group__header {
      margin-bottom: toRem(2);
      .tk-tooltip__wrapper {
        font-size: toRem(12);
      }
    }
    .tk-input__helper {
      margin-top: toRem(2);
    }
  }

  &--medium, &--large, #{condensed('--large')} {
    .tk-input-group__header {
      margin-bottom: toRem(4);
      .tk-tooltip__wrapper {
        font-size: toRem(16);
      }
    }
    .tk-input__helper {
      margin-top: toRem(4);
    }
  }
}
