@mixin styleLabels {
  label,
  .tk-input__helper,
  .tk-validation__errors {
    @content;
  }
}

.tk-input-group {
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: toEm(4);
  }

  label {
    @extend .tk-label;
  }

  &:hover, &:focus-within {
    @include styleLabels {
      color: $--tk-input-default-active-color;
    }
    .tk-input:not(:focus).tk-input__icon:not(:focus) {
      @include styleHoverInput($--tk-input-default-hover-color, $--tk-input-default-active-color);
    }
  }

  .tk-validation--error & {
    @include styleLabels {
      @extend .tk-label--error;
    }
    .tk-input {
      @extend .tk-validation--error;
    }
  }

  .tk-validation--error:hover &,
  .tk-validation--error:focus-within & {
    @include styleLabels {
      color: $--tk-input-error-active-color;
    }
    .tk-input:not(:focus) {
      @include styleHoverInput($--tk-input-error-active-color, $--tk-input-error-active-color);
    }
  }

  &--disabled:hover, &--disabled:focus-within  {
    @include styleLabels {
      @extend .tk-label--disabled;
    }
    .tk-input:focus,
    .tk-input:not(:focus) {
      @include styleHoverInput($--tk-input-disabled-color, $--tk-input-disabled-color);
    }
  }
}
