.tk-datepicker {
  position: relative;
}

.tk-daypicker {
  color: $--tk-datepicker-default-color;
  font-size: toEm(14, $fontSize);
  padding: toEm(20, $fontSize) toEm(16, $fontSize) toEm(16, $fontSize)
    toEm(16, $fontSize);
  @include boxContainer();

  .tk-daypicker-header {
    margin-bottom: toEm(12, $fontSize);
    font-weight: 600;

    display: flex;
    justify-content: space-between;

    &--prevYear {
      margin-left: toEm(9, $fontSize);
      @include styleDayPickerHeaderAction($scolor-electricity);
    }
    &--nextYear {
      margin-right: toEm(9, $fontSize);
      @include styleDayPickerHeaderAction($scolor-electricity);
    }
    &--prevMonth {
      @include styleDayPickerHeaderAction($scolor-electricity);
    }
    &--nextMonth {
      @include styleDayPickerHeaderAction($scolor-electricity);
    }
    &--text {
      display: flex;
      justify-content: center;
      align-self: center;
      text-transform: uppercase;
      font-size: toEm(12, $fontSize);
      line-height: toEm(16, $fontSize);
    }
  }

  .tk-daypicker-weekday {
    color: $--tk-input-default-active-color;
    font-weight: 600;
    display: grid;
    grid-template-columns:
      toEm(32, $fontSize) toEm(32, $fontSize) toEm(32, $fontSize)
      toEm(32, $fontSize) toEm(32, $fontSize) toEm(32, $fontSize) toEm(32, $fontSize);
    grid-template-rows: toEm(20, $fontSize);

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: toEm(12, $fontSize);
      line-height: toEm(16, $fontSize);
    }
  }

  .tk-daypicker-body {
    display: grid;
    grid-template-columns:
      toEm(32, $fontSize) toEm(32, $fontSize) toEm(32, $fontSize)
      toEm(32, $fontSize) toEm(32, $fontSize) toEm(32, $fontSize) toEm(32, $fontSize);
    grid-template-rows:
      toEm(32, $fontSize) toEm(32, $fontSize) toEm(32, $fontSize)
      toEm(32, $fontSize) toEm(32, $fontSize) toEm(32, $fontSize);
    font-size: toEm(14, $fontSize);

    .tk-daypicker-day {
      border: none;
      cursor: pointer;
      border-radius: toEm(2, $fontSize);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      &:hover {
        @include addBorder(toEm(2, $fontSize), $scolor-electricity);
        box-sizing: border-box;
        border-radius: toEm(2, $fontSize);
      }
      &--today {
        position: relative;
        &::after {
          font-size: toEm(10, $fontSize);
          content: "";
          position: absolute;
          bottom: 0;
          height: 0.45em;
          width: 0.45em;
          background-color: currentColor;
          border-radius: 50%;
        }
      }
      &--highlighted {
        color: $scolor-electricity;
        font-weight: 700;
      }
      &--selected {
        background-color: $scolor-electricity;
        color: $scolor-graphite-minus-96;
        border-radius: toEm(2, $fontSize);
      }
      &--disabled {
        cursor: not-allowed;
        color: $--tk-input-default-inactive-color;
        text-decoration-line: line-through;
      }
      &--outside {
        visibility: hidden;
      }
    }
  }

  .tk-daypicker-footer {
    display: flex;
    justify-content: center;
    .tk-daypicker-today {
      cursor: pointer;
      color: $scolor-electricity;
      font-weight: 600;
      text-transform: uppercase;
      font-size: toEm(12, $fontSize);
      line-height: toEm(16, $fontSize);
    }
  }
}
