//Override the css classes from react-select library to reuse the UIToolkit classes.
.tk-select {
  .tk-select {
    &__single-value {
      @extend .tk-text-color;
    }
    &__control {
      @extend .tk-input;
      padding: 0;
      background-color: $--tk-select-background-color;
      .tk-input__icon {
        cursor: pointer;
      }
      &.tk-select__control {
        position: relative;
        @extend .tk-input__container;
        &--is-focused {
          .tk-input__icon {
            background-color: $--tk-input-default-inactive-color;
            border-color: $--tk-input-default-inactive-color;
          }
          .tk-validation--error & {
            box-shadow: inset 0 0 0 2px $--tk-input-error-focus-border-color;
            border-color: $--tk-input-error-focus-border-color;
            .tk-input__icon {
              box-shadow: inset 0 0 0 2px $--tk-input-error-focus-border-color;
              border-color: $--tk-input-error-focus-border-color;
            }
          }
        }
        &--menu-is-open,
        &--menu-is-focused {
          color: $--tk-input-default-active-color;
          box-shadow: inset 0 0 0 2px $--tk-input-default-focus-border-color;
          border-color: $--tk-input-default-focus-border-color;
          .tk-input__icon {
            color: $scolor-white;
            box-shadow: inset 0 0 0 2px $--tk-input-default-focus-border-color;
            border-color: $--tk-input-default-focus-border-color;
            background-color: $--tk-input-default-focus-border-color;
          }
        }
        &--is-disabled {
          color: $--tk-input-default-inactive-color;
          background-color: $--tk-input-disabled-background-color;
        }
      }
      .tk-select__value-container {
        .tk-select__multi-value {
          padding: 0;
          box-sizing: border-box;
          min-height: toEm(24);
          border-radius: toEm(4);
          background: $--tk-tag-background-color;
          border: 1px solid $--tk-tag-border-and-group-heading-color;
          color: $--tk-main-text-color;
          &:hover {
            background: $--tk-tag-background-hover-color;
            border: 1px solid $--tk-tag-border-hover-color;
          }
          &__label {
            color: $--tk-main-text-color;
            padding: toEm(2);
            font-size: toEm(12);
            .tk-icon-cross {
              font-size: toEm(10);
            }
          }
        }
        .tk-select__single-value {
          color: inherit;
          white-space: nowrap;
        }
      }
      &:hover {
        .tk-select__placeholder {
          color: $--tk-input-default-active-color;
          @include addTransition();
        }
      }
      .tk-validation--error & {
        &:hover {
          .tk-select__placeholder {
            color: $--tk-input-error-active-color;
            @include addTransition();
          }
        }
        .tk-select__placeholder {
          color: $--tk-input-error-inactive-color;
          @include addTransition();
        }
      }
    }
    &__menu {
      margin-top: toEm(6);
      color: $--tk-select-option-color;
      @include boxContainer();
      .tk-option .tk-select__option.tk-select__option--is-selected {
        @extend .tk-select--custom-dropdown--selected;
      }
    }
    &__option {
      cursor: pointer;
      color: $--tk-input-default-active-color;
      padding: toEm(6) toEm(38) toEm(6) toEm(16);
      &.tk-select__option {
        &--is-focused,
        &--is-focused.tk-select__option--is-selected {
          background-color: $--tk-list-hover-color;
        }
        &--is-selected {
          background-color: transparent;
        }
        &--is-disabled {
          cursor: not-allowed;
          color: $--tk-list-disabled-color;
        }
      }
    }
    &__group-heading {
      color: $--tk-tag-border-and-group-heading-color;
      font-size: toEm(12);
      line-height: toEm(16);
      font-weight: 600;
    }
  }

  &__indicators {
    .tk-select__indicator-separator {
      display: none;
    }
    .tk-select__indicator {
      cursor: pointer;
      color: inherit;
      &.tk-select__clear-indicator {
        color: $--tk-input-default-active-color;
        &:hover {
          color: $--tk-input-default-active-color;
        }
      }
      &.tk-select__dropdown-indicator {
        color: inherit;
        .tk-select__single-value {
          color: inherit;
        }
      }
    }
  }
  .tk-input__container {
    &.tk-select__control {
      min-height: toEm(36);
      .tk-select__value-container {
        cursor: text;
        margin-left: toEm(32);
        padding: toEm(2) toEm(12);
        .tk-select__input {
          color: $--tk-input-default-active-color;
        }
      }
    }
  }
  .tk-select__control {
    .tk-select__value-container {
      margin-left: 0;
    }
  }
}
