@include condensedButton;

.tk-button {
  @include mediumButton;
  position: relative;
  display: inline-block;
  border: none;
  border-radius: toRem(28);
  letter-spacing: toRem(0.5);
  text-transform: uppercase;
  text-align: center;
  line-height: toRem(16);
  width: auto;
  white-space: nowrap;
  cursor: pointer;
  &:disabled {
    cursor: default;
    pointer-events: all;
  }

  &:focus-visible {
    @include outlineStyle();
    outline-offset: toRem(1);
  }

  &--primary {
    @include styleFilledButton($--tk-button-color-primary);
    &-destructive {
      @include styleFilledButton($--tk-button-color-destructive-primary);
    }
  }
  &--secondary {
    @include styleOutlinedButton($--tk-button-color-secondary);
    &-destructive {
      @include styleOutlinedButton($--tk-button-color-destructive-secondary);
    }
  }
  &--tertiary {
    @include styleFilledButton($--tk-button-color-tertiary);
    &-destructive {
      @include styleFilledButton($--tk-button-color-destructive-tertiary);
    }
    &-accent {
      @include styleFilledButton($--tk-button-color-accent-tertiary);
    }
  }
  &--destructive {
    @include styleFilledButton($--tk-button-color-destructive-primary);
  }
  &--icon {
    padding: 0 !important; // Avoid override on the icon button by the size variants
    display: inline-block;
    border-radius: 50%;
  }
  &.tk-button--small {
    @include smallButton;
  }
  &.tk-button--large {
    @include largeButton;
  }
  .tk-button-icon--loading {
    position: absolute;
    margin: 0 auto;
    top: 25%;
    left: 0;
    right: 0;
  }
}
