.tk-drawer--relative-to-window {
  &.tk-drawer-backdrop,
  &.tk-drawer {
    position: fixed;
  }
}

.tk-drawer-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  background: $--tk-drawer-backdrop-color;
  z-index: $z-index-drawer;
}

.tk-drawer {
  position: absolute;
  top: 0;
  height: 100%;
  box-sizing: border-box;
  transition: transform 0.5s ease;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  z-index: $z-index-drawer;
  display: flex;
  flex-direction: column;
  background-color: $--tk-drawer-background-color;
  padding: toRem(16);

  &--right {
    right: 0;
    border-left: 1px solid $--tk-drawer-border;
    .tk-drawer-hidden {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  &--left {
    left: 0;
    border-right: 1px solid $--tk-drawer-border;
    .tk-drawer-hidden {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;
    padding-top: toRem(16);
    padding-right: toRem(16);
  }

  &__title {
    font-size: toRem(18);
    font-weight: 600;
    line-height: toRem(24);
    padding-right: toRem(24);
  }

  &__body {
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: toRem(16);
  }

  &__footer {
    align-self: flex-end;
    margin-top: toRem(16);
  }
}
