$list-font-size-icon: toRem(16);

.tk-dropdown-menu {
  @include listStyle;

  z-index: $z-index-dropdown-menu;
  padding: toRem(8) 0;
  i {
    color: getColor($--tk-select-color, defaultMenuIcon);
    font-size: $list-font-size-icon;
    padding-right: toRem(8);
  }

  &__item {
    font-size: toRem(14);
    height: toRem(20);
    line-height: toRem(20);
    padding: toRem(6) toRem(0) toRem(6) toRem(16);
  }

  &--expandable::before {
    position: absolute;
    right: toRem(16);
    font-style: normal;
    font-family: 'tk-icons';
    font-size: $list-font-size-icon;
    color: getColor($--tk-select-color, defaultMenuIcon);
    @include tk-icon-right;
  }
}

.tk-dropdown-menu-divider {
  height: 0;
  margin: toRem(2) 0;
  overflow: hidden;
  border-top: toRem(1) solid $--tk-divider-color;
}
