$backgroundColor: $scolor-graphite-plus-48;

.tk-hint {
  z-index: $z-index-tooltip;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: toRem(8);
  background-color: $backgroundColor;
  font-size: toRem(14);
  padding: toRem(16);
  text-align: left;
  color: $scolor-graphite-minus-96;
  line-height: toRem(20);
  white-space: pre-line;
  min-width: toRem(200);
  max-width: toRem(500);

  &__arrow {
    $arrowSize: toRem(24);
    width: $arrowSize;
    height: $arrowSize;
    background-color: $backgroundColor;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__close {
    color: $scolor-white;
    text-transform: uppercase;
    padding: toRem(8) toRem(16);
  }
}
