.tk-loader-spinner {
  @extend .animate-spin;
  font-family: 'tk-icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1em;
  vertical-align: top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    @include tk-icon-loading;
  }
}

.tk-loader {
  &--warning {
    color: $--tk-color-error !important;
  }

  &--ok {
    color: $scolor-green !important;
  }

  &--attention {
    color: $scolor-orange !important;
  }

  &--primary {
    color: $scolor-electricity !important;
  }

  &--default {
    color: $--tk-loader-default !important;
  }

  &--small {
    font-size: 12px;
  }

  &--medium {
    font-size: 16px;
  }

  &--large {
    font-size: 32px;
  }
}

.tk-loader-textPos--right {
  p {
    margin: 0 8px;
  }
}
.tk-loader-textPos--bottom {
  p {
    margin: 8px 0;
  }
}
.tk-loader-container {
  display: flex;
}
.tk-loader-textPos {
  &--bottom {
    display: inline-block;
    text-align: center;
  }
  &--right {
    display: flex;
    align-items: center;
  }
}
.tk-loader-text {
  width: 59px;
  color: $--tk-main-text-color;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
