$percentage-sizes: 0, 1, 25, 50, 75, 100;

.tk-loader {
  &-spinner {
    @extend .animate-spin;
    font-family: 'tk-icons';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::before {
      @include tk-icon-loading;
    }
  }
  &--warning {
    color: $--tk-color-error !important;
  }

  &--ok {
    color: $scolor-green !important;
  }

  &--attention {
    color: $scolor-orange !important;
  }

  &--primary {
    color: $scolor-electricity !important;
  }

  &--default {
    color: $--tk-loader-default !important;
  }

  &--small {
    font-size: toRem(12);
  }

  &--medium {
    font-size: toRem(16);
  }

  &--large {
    font-size: toRem(32);
  }

  @each $size in $percentage-sizes {
    &--#{$size} {
      width: #{$size}#{'%'};
    }
  }

  &-container {
    display: flex;
  }
  &-textPos {
    &--bottom {
      display: inline-block;
      text-align: center;
      p {
        margin: toRem(8);
      }
    }
    &--right {
      display: flex;
      align-items: center;
      p {
        margin: 0 toRem(8);
      }
    }
  }
  &-text {
    width: toRem(59);
    color: $--tk-main-text-color;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: toRem(14);
    line-height: toRem(20);
    margin: 0;
  }
  &-progressbar {
    &-container {
      width: 200px;
      border-radius: toRem(4);
      background-color: getColor($graphite, '20');
      overflow: hidden;
    }
  }
  &-determinate {
    background-color: getColor($electricity, '50');
    text-align: center;
    height: toRem(4);
    border-radius: toRem(4);
    margin: 0 !important;
  }
  &-indeterminate {
    width: 100%;
    height: toRem(4);
    border-radius: toRem(4);
    background-color: getColor($electricity, '50');
    animation: indeterminateAnimation 1s infinite linear;
    transform-origin: 0% 50%;
    margin: 0 !important;
  }
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
