html {
  font-family: 'SymphonyLato', 'Lato', 'Segoe UI', 'Helvetica Neue', 'Verdana',
    'Arial', sans-serif;
  font-size: 14px;
}

#root {
  overflow-x: hidden;
}
// Layout utils
.flex-container {
  overflow-x: hidden;
}
.flex-row {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  .flex-col {
    flex-direction: column;
    padding: 16px;
  }
}
