$ICONS_FONTS_PATH: "../dist/fonts";
@import "../uitoolkit.scss";

body {
  font-family: "SymphonyLato", "Lato", "Segoe UI", "Helvetica Neue", "Verdana",
    "Arial", sans-serif;
  font-size: 16px;
  @extend .tk-text-color;
  a {
    @extend .tk-link;
  }
}

#root {
  overflow-x: hidden;
}
/* Styles for titles in Dark mode are defined in the StoryBook
until we have a design for them in the UI Toolkit. */
.dark h1,
.dark h2,
.dark h3 {
  color: white;
}

// Layout utils
.flex-row {
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  .flex-col {
    flex-direction: column;
    padding: 16px;
  }
}
.flex-container {
  display: flex;
  &.column {
    flex-direction: column;
  }
}

// inline block container for presentation
.d-inline-block {
  display: inline-block;
}

/* Styles used for Util stories defined in the StoryBook  */
.font-bold {
  font-weight: 700 !important;
}

.box {
  height: 60px;
  width: 60px;
  border-style: solid;
}
.item {
  height: 40px;
}
.border {
  border: 2px solid $scolor-graphite-minus-72;
}

// Styles for icons.stories.js autogenerated
.preview {
  width: 100px;
  display: inline-block;
  margin: 20px;
  text-align: center;
  &:hover {
    @extend .tk-color-action-primary;
  }
  .inner {
    text-align: center;
  }
}

.code {
  white-space: pre;
  padding: 1em;
  background-color: $scolor-graphite-minus-96;
}

.card-icon {
  @extend .tk-color-action-primary;
}
.card-description {
  font-size: 12px;
}

// Docs
pre {
  background-color: $scolor-graphite-minus-88;
  @extend .tk-p-2h;
}
.dark pre {
  background-color: $scolor-graphite-plus-24;
}
.sb-heading,
.sb-errordisplay_code pre {
  background-color: #3e4249;
}

.header-dialog {
  display: flex;
  justify-content: space-between;
}

.avatar-box {
  border: 1px solid currentColor;
  padding: 24px;
}

.themed-primary-btn {
  --tk-button-color-primary-default: orange;
  --tk-button-color-primary-active: red;
  --tk-button-color-primary-hover: green;
  --tk-button-color-primary-text: white;
}

.overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
