/** ======== Globals ======== */

$--tk-color-primary: var(--tk-color-primary, $scolor-electricity);

$--tk-color-success: var(--tk-color-success, $scolor-green);

$--tk-color-warning: var(--tk-color-warning, $scolor-orange);

$--tk-color-error: var(--tk-color-error, $scolor-red);

$--tk-main-text-color: var(--tk-main-text-color, $scolor-graphite);

$--tk-outline-color: #88c0fb;

/** ======== Inputs and text areas ======== */

$--tk-input-default-inactive-color: var(--tk-input-default-inactive-color,
  $scolor-graphite-minus-24);
$--tk-input-default-active-color: var(--tk-input-default-active-color, $scolor-graphite-plus-72);
$--tk-input-default-hover-color: var(--tk-input-default-hover-color, $scolor-graphite);
$--tk-input-default-focus-border-color: var(--tk-input-default-focus-border-color,
  $scolor-electricity);
$--tk-input-default-background-color: var(--tk-input-default-background-color, $scolor-white);

$--tk-input-error-inactive-color: var(--tk-input-error-inactive-color, $--tk-color-error);
$--tk-input-error-active-color: var(--tk-input-error-active-color,
  $scolor-elements-destructive-active);
$--tk-input-error-focus-border-color: var(--tk-input-error-focus-border-color,
  $scolor-elements-destructive-active);
$--tk-input-error-background-color: var(--tk-input-error-background-color, $scolor-white);

$--tk-input-disabled-color: var(--tk-input-disabled-color, $scolor-graphite-minus-24);
$--tk-input-disabled-background-color: var(--tk-input-disabled-background-color,
  $scolor-graphite-minus-88);

/** ======== Buttons ======== */

$--tk-button-color-primary: (default: var(--tk-button-color-primary-default, $scolor-electricity),
  hover: var(--tk-button-color-primary-hover, $scolor-elements-primary-hover),
  active: var(--tk-button-color-primary-active, $scolor-elements-primary-active),
  disabled: var(--tk-button-color-primary-disabled, $scolor-elements-primary-disabled),
  text: var(--tk-button-color-primary-text, $scolor-white),
  textDisabled: var(--tk-button-color-primary-text-disabled, $scolor-graphite-minus-24),
);

$--tk-button-color-secondary: (default: var(--tk-button-color-secondary-default, $scolor-graphite),
  hover: var(--tk-button-color-secondary-hover, $scolor-elements-secondary-hover),
  active: var(--tk-button-color-secondary-active, $scolor-elements-secondary-active),
  disabled: var(--tk-button-color-secondary-disabled, $scolor-elements-secondary-disabled),
  text: var(--tk-button-color-secondary-text, $scolor-elements-secondary-active),
  textDisabled: var(--tk-button-color-secondary-text-disabled, $scolor-graphite-minus-72),
);

$--tk-button-color-tertiary: (default: var(--tk-button-color-tertiary-default, transparent),
  hover: var(--tk-button-color-tertiary-hover, $scolor-elements-tertiary-hover),
  active: var(--tk-button-color-tertiary-active, $scolor-elements-tertiary-active),
  disabled: var(--tk-button-color-tertiary-disabled, transparent),
  text: var(--tk-button-color-tertiary-text, $scolor-graphite),
  textDisabled: var(--tk-button-color-tertiary-text-disabled, $scolor-graphite-minus-48),
);

$--tk-button-color-destructive: (default: var(--tk-button-color-destructive-default, $scolor-red),
  hover: var(--tk-button-color-destructive-hover, $scolor-elements-destructive-hover),
  active: var(--tk-button-color-destructive-active, $scolor-elements-destructive-active),
  disabled: var(--tk-button-color-destructive-disabled, $scolor-elements-destructive-disabled),
  text: var(--tk-button-color-destructive-text, $scolor-white),
  textDisabled: var(--tk-button-color-destructive-text-disabled, $scolor-graphite-minus-24),
);

/** ======== DatePickers ======== */
$--tk-datepicker-default-color: var(--tk-datepicker-default-color, $scolor-graphite-plus-72);
$--tk-datepicker-disabled-color: var(--tk-datepicker-disabled-color, $scolor-graphite);

/** ======== Tables ======== */
$--tk-table-hover-color: var(--tk-table-hover-color, $scolor-graphite-minus-72);

/** ======== Dialog ======== */
$dialog-backdrop: rgba($scolor-graphite-plus-72, 0.64);
$--tk-dialog-background-color: var(--tk-dialog-background-color, $scolor-white);
$--tk-dialog-cross-color: var(--tk-dialog-cross-color, $scolor-graphite-minus-24);
$--tk-dialog-hover-cross-color: var(--tk-dialog-hover-cross-color, $scolor-graphite);
$--tk-dialog-backdrop-color: var(--tk-dialog-backdrop-color, $dialog-backdrop);

/** ======== List ======== */
$--tk-select-background-color: var(--tk-select-background-color, $scolor-white);
$--tk-select-option-color: var(--tk-select-option-color, $scolor-graphite-minus-72);
$--tk-list-hover-color: var(--tk-list-hover-color, $scolor-graphite-minus-88);
$--tk-list-selected-color: var(--tk-list-selected-color, $scolor-graphite-minus-24);
$--tk-list-divider-color: var(--tk-list-divider-color, $scolor-graphite-minus-88);
$--tk-list-disabled-color: var(--tk-list-disabled-color, $scolor-graphite-minus-48);
$--tk-list-tag-color: var(--tk-list-tag-color, $scolor-graphite-minus-89);
$--tk-tag-border-and-group-heading-color: var(--tk-tag-border-and-group-heading-color, $scolor-graphite-minus-24);
$--tk-tag-background-color: var(--tk-tag-background-color, $scolor-graphite-minus-88);
$--tk-tag-border-disabled-color: var(--tk-tag-border-disabled-color, $scolor-graphite-minus-48);
$--tk-tag-backgroung-disabled-color: var(--tk-tag-border-disabled-color, $scolor-graphite-minus-96);
$--tk-tag-border-hover-color: var(--tk-tag-border-hover-color, $scolor-graphite-minus-24);
$--tk-tag-background-hover-color: var(--tk-tag-background-hover-color, $scolor-graphite-minus-88);

/** ======== Avatar ======== */
$--tk-avatar-border-color: var(--tk-avatar-border-color, $scolor-graphite-minus-88);

/** ======== Card ======== */
$card-shadow: rgba($scolor-black, 0.08);
$--tk-card-border-color: var(--tk-card-border-color,$scolor-graphite-minus-72);
$--tk-card-shadow-hover-color: var(--tk-card-shadow-hover-color,$card-shadow);
$--tk-card-shadow-hover-side-color: var(--tk-card-shadow-hover-side-color,$card-shadow);

/** ======== Nav ======== */
$--tk-nav-color-default: var(--tk-nav-color-default,$scolor-graphite-minus-24);
$--tk-nav-color-hover: var(--tk-nav-color-hover,$scolor-graphite);
$--tk-nav-color-active: var(--tk-nav-color-active,$scolor-black);
$--tk-nav-color-disabled: var(--tk-nav-color-active,$scolor-graphite-minus-24);
$--tk-nav-color-border-bottom: var(--tk-nav-color-border-bottom,$scolor-graphite-minus-72);