/** ======== Globals ======== */

$--tk-color-primary: var(--tk-color-primary, $scolor-electricity);

$--tk-color-success: var(--tk-color-success, $scolor-green);

$--tk-color-warning: var(--tk-color-warning, $scolor-orange);

$--tk-color-error: var(--tk-color-error, $scolor-red);

$--tk-main-text-color: var(--tk-main-text-color, $scolor-graphite);

$--tk-outline-color: #88c0fb;

/** ======== Inputs and text areas ======== */

$--tk-input-default-inactive-color: var(--tk-input-default-inactive-color,
  $scolor-graphite-minus-24);
$--tk-input-default-active-color: var(--tk-input-default-active-color, $scolor-graphite-plus-72);
$--tk-input-default-hover-color: var(--tk-input-default-hover-color, $scolor-graphite);
$--tk-input-default-focus-border-color: var(--tk-input-default-focus-border-color,
  $scolor-electricity);
$--tk-input-default-background-color: var(--tk-input-default-background-color, $scolor-white);

$--tk-input-error-inactive-color: var(--tk-input-error-inactive-color, $--tk-color-error);
$--tk-input-error-active-color: var(--tk-input-error-active-color,
  $scolor-elements-destructive-active);
$--tk-input-error-focus-border-color: var(--tk-input-error-focus-border-color,
  $scolor-elements-destructive-active);
$--tk-input-error-background-color: var(--tk-input-error-background-color, $scolor-white);

$--tk-input-disabled-color: var(--tk-input-disabled-color, $scolor-graphite-minus-24);
$--tk-input-disabled-background-color: var(--tk-input-disabled-background-color,
  $scolor-graphite-minus-88);

/** ======== Buttons ======== */

$--tk-button-color-primary: (default: var(--tk-button-color-primary-default, $scolor-electricity),
  hover: var(--tk-button-color-primary-hover, $scolor-elements-primary-hover),
  active: var(--tk-button-color-primary-active, $scolor-elements-primary-active),
  disabled: var(--tk-button-color-primary-disabled, $scolor-elements-primary-disabled),
  text: var(--tk-button-color-primary-text, $scolor-white),
  textDisabled: var(--tk-button-color-primary-text-disabled, $scolor-graphite-minus-24),
);

$--tk-button-color-secondary: (default: var(--tk-button-color-secondary-default, $scolor-graphite),
  hover: var(--tk-button-color-secondary-hover, $scolor-elements-secondary-hover),
  active: var(--tk-button-color-secondary-active, $scolor-elements-secondary-active),
  disabled: var(--tk-button-color-secondary-disabled, $scolor-elements-secondary-disabled),
  text: var(--tk-button-color-secondary-text, $scolor-elements-secondary-active),
  textDisabled: var(--tk-button-color-secondary-text-disabled, $scolor-graphite-minus-72),
);

$--tk-button-color-tertiary: (default: var(--tk-button-color-tertiary-default, transparent),
  hover: var(--tk-button-color-tertiary-hover, $scolor-elements-tertiary-hover),
  active: var(--tk-button-color-tertiary-active, $scolor-elements-tertiary-active),
  disabled: var(--tk-button-color-tertiary-disabled, transparent),
  text: var(--tk-button-color-tertiary-text, $scolor-graphite),
  textDisabled: var(--tk-button-color-tertiary-text-disabled, $scolor-graphite-minus-48),
);

$--tk-button-color-destructive: (default: var(--tk-button-color-destructive-default, $scolor-red),
  hover: var(--tk-button-color-destructive-hover, $scolor-elements-destructive-hover),
  active: var(--tk-button-color-destructive-active, $scolor-elements-destructive-active),
  disabled: var(--tk-button-color-destructive-disabled, $scolor-elements-destructive-disabled),
  text: var(--tk-button-color-destructive-text, $scolor-white),
  textDisabled: var(--tk-button-color-destructive-text-disabled, $scolor-graphite-minus-24),
);

/** ======== DatePickers ======== */
$--tk-datepicker-default-color: var(--tk-datepicker-default-color, $scolor-graphite-plus-48);
$--tk-datepicker-selected-color: var(--tk-datepicker-selected-color, $scolor-graphite-minus-96);
$--tk-datepicker-selected-background-color: var(--tk-datepicker-selected-color, $scolor-electricity);

/** ======== Tables ======== */
$--tk-table-hover-color: var(--tk-table-hover-color, $scolor-graphite-minus-72);

/** ======== Dialog ======== */
$--tk-dialog-background-color: var(--tk-dialog-background-color, $scolor-white);
$--tk-dialog-box-shadow-color: var(--tk-dialog-box-shadow-color, $scolor-graphite-minus-72);
$--tk-dialog-cross-color: var(--tk-dialog-cross-color, $scolor-graphite-minus-24);
$--tk-dialog-hover-cross-color: var(--tk-dialog-hover-cross-color, $scolor-graphite);
$--tk-dialog-backdrop-color: var(--tk-dialog-backdrop-color, $scolor-dialog-backdrop);

/** ======== List ======== */
$--tk-select-background-color: var(--tk-select-background-color, $scolor-white);
$--tk-select-hover-color: var(--tk-select-hover-color,$scolor-graphite-minus-72);
$--tk-select-selected-color: var(--tk-select-selected-color,$scolor-graphite-minus-24);

/** ======== Avatar ======== */
$--tk-avatar-border-color: var(--tk-avatar-border-color,$scolor-graphite-minus-88);
